<div id="channel">
  <ul>
    <%- channels.each_with_index do |c, index| %>
      <li data-channel-id="<%= c.id %>" data-channel-name="<%=h c.name %>" data-channel-index="<%= index %>" class="channel <%= 'active' if c == active_channel %> <%= c.locally_hosted? ? (c.global? ? 'global-hosted' : 'local') : 'global' %>">
        <%= link_to c.name.capitalize, {:channel_id => c.id} %>
      </li>
    <%- end %>
    <li class="browse">
      <a href="/channels" title="Browse more channels"><%= Channel.count - channels.count %> channels, check them out!</a>
    </li>
    <li class="browse" style='background:url("/images/icn_search.png") no-repeat scroll 0 0 transparent;'>
      <a target="_blank" href="/search" style="padding-left:25px;">search</a>
    </li>
  </ul>
</div>
