<h2>
  @<%= channel.name %>
  <%- unless channel.public? %>
    <i>(private channel)</i>
  <%- end %>
</h2>
<p><%= channel_description(channel) %></p>

<h3 class="belongs-to-list"><%= channel.locally_hosted? ? "Subscribers" : "Subscribers from this node" %> (<%= channel.users.registered.size %>)</h3>

<%- if channel.users.registered.size == 0 %>
  <p class="hint">There are currently no users that subscribed to this channel. Be the first!</p>
<%- else %>
  <ul class="subscribers-list list">
    <%- channel.listens.all(:include => :user, :order => 'verified ASC', :limit => configatron.max_list_size).each do |listen| %>
      <%- if !listen.user.stranger? && user = listen.user %>
        <li data-cucumber="<%= listen.user.id %>" tabindex="-1">
          <%= avatar(user, :width => 20, :height => 20, :lazy_load => true) %>
          <%= user.display_name %>
          <%= raw("<strong>(owner)</strong>") if channel.owned_by?(listen.user) %>
          <%= raw("<strong>(awaiting verification)</strong>") unless listen.verified? %>
          <a href="/users/<%= user.id %>" class="action">show profile</a>
          <%- if channel.owned_by?(current_user) || current_user.admin? %>
            <%= link_to('remove', listen_path(listen), :method => :delete, :remote => true, :class => "action") %>
            <%- unless listen.verified? %>
              <%= link_to('verify', listen_accept_path(listen), :method => :post, :remote => true, :class => "action", 'data-cucumber' => 'verify') %>
            <%- end %>
          <%- end %>
        </li>
      <%- end %>
    <%- end %>
  </ul>
<%- end %>

<%- if current_user.channels.include?(channel) %>
  <%= form_tag(current_user.listens.find_by_channel_id(channel.id), {
    :remote => true,
    :method => :delete,
    'data-type' => 'html',
    :class => "single-button-form"
  }) do -%>
    <%= button "Unsubscribe" %>
  <%- end %>
<%- else %>
  <%= form_tag(listens_path(:channel_id => channel.id), {
    :remote => true,
    :method => :post,
    'data-type' => 'html',
    :class => "single-button-form"
  }) do -%>
    <%= button "Subscribe" %>
    <%- unless channel.public? %>
      <span class="hint">This channel is private: The owner needs to verify your subscription.</span>
    <%- end %>
  <%- end %>
<%- end %>

<%- if permitted_to?(:update, channel) %>

  <h3>Subscribe users</h3>
  <p>
    Enter the exact user name or user id into the input field to subscribe him to this channel,<br>or enter an email address to invite users to your node.
  </p>
  <%= form_tag(listen_for_user_path, { :remote => true, 'data-type' => 'html', :class => 'single-button-form subscribe-user', :method => 'post' }) do %>
    <%= hidden_field_tag :id, current_user.id %>
    <%= hidden_field_tag :user_id, current_user.id %>
    <%= hidden_field_tag :channel_id, channel.id %>
    <input type="text" placeholder="User name, id or email ..." name="search_term" > <%= button 'Subscribe' %>
  <% end %>

  <%- if current_user.admin? %>
    <h3>Invite people <a data-hover-hint="top" title="Only visible to admins" class="hint">(?)</a></h3>
    <p>Grow your network by <%= link_to("inviting people", new_invitation_path(:channel_id => channel.id), :class => 'promotion-link') %> to this and other channels.</p>
  <%- end %>
  
  <h3>Channel settings <a data-hover-hint="top" title="Only visible to admins and the channel owner" class="hint">(?)</a></h3>

  <%= form_for channel, :html => { 'data-ajax-auto-submit' => '1' } do |f| -%>
    <%= f.hidden_field :id, { :value => channel.id } %>
    <label class="checkbox-row" for="channel_public">
      <%= f.check_box :public %>
      public (users can subscribe without verification)
    </label>
    <%- if request.domain == "protonet.info" || Rails.env != "production" %>
      <label class="checkbox-row" for="channel_global">
        <%= f.check_box :global %>
        global (channel is visible from external nodes and clients)
      </label>
    <%- end %>
  <%- end %>
  
  <h3>Details <a data-hover-hint="top" title="Only visible to admins and the channel owner" class="hint">(?)</a></h3>
  <dl>
    <dt>Node: </dt><dd><%= channel.node.name %><%= " (remote)" unless channel.node.local? %></dd>
    <dt>Channel UUID: </dt><dd><%= channel.uuid %></dd>
    <dt>Created: </dt><dd title="<%= channel.created_at %>"><%= time_ago_in_words(channel.created_at) %> ago</dd>
    <dt>Messages: </dt><dd><%= channel.meeps.size %></dd>
    <dt>Messages + attachment: </dt><dd><%= channel.meeps.where('text_extension != ""').size %></dd>
  </dl>
  
  <%- if channel.locally_hosted? %>
    <h3>Delete channel <a data-hover-hint="top" title="Only visible to admins and the channel owner" class="hint">(?)</a></h3>
    <p>Delete this channel and all messages posted in it.</p>
    <%= form_tag("/channels/#{channel.id}", {
      :remote     => true,
      :method     => :delete,
      'data-type' => 'html',
      'class'     => 'single-button-form'
    }) do -%>
      <%= button "Delete", 'data-confirm' => 'Do you really want to delete this channel? There\'s no undo.' %>
    <%- end %>
  <%- end %>
<%- end %>