<h3><%=h channel.name %></h3> <p id="channel-description"><%=h channel.description %></p>
<%= channel_listen_control(channel) %>
<p id="channel-owner">(Owner: <%= channel.owner.display_name %>)</p>
<h4>Channel subscribers:</h4>
<ul id="channel-subscribers">
  <% channel.listens.all(:include => :user).each do |listen| %>
    <% if !listen.user.stranger? && user = listen.user %>
      <li><img src="<%= user.active_avatar_url || '/images/userpicture-mini.jpg' %>" width="20" height="20" alt="Userpicture Mini" /> <span><%= user.display_name %></span>
<%= link_to('remove listener', listen_path(listen), :method => :delete, :class => "channel-remove-listner") if channel.owner == current_user %></li>
    <% end %>
  <% end %>
</ul>
<br>
<h4>Channel Type:</h4>
<%= channel.public? ? "public" : "private" %>

<% if channel.owned_by(current_user) %>
  <h4>Edit Channel Type:</h4>
  <div id="edit-<%= channel.id %>" class="edit section">
   <% form_for channel, :url => { :action => 'update' } do |f| -%>
     <fieldset>
       <%= f.hidden_field :id, { :value => channel.id, :id => "channel-id-#{channel.id}" } %>
       <%= f.label :public, "Channel is public?" %>
       <%= f.check_box :public, { :id => "channel-public-#{channel.public}" } %>
       <%= button "Save" %>
     </fieldset>
   <% end %>
   </div>

  <h4>Channel Options:</h4>
  <span class="destroy">
    <%= link_to('delete channel', channel_path, :method => :delete) %>
  </span>
<% end %>

<h4>The channel this network belongs to:</h4>
<%= link_to(channel.network.name, networks_path) %> (<%= channel.network.description %>)
