<h3><%= channel.name %></h3>
<p id="channel-listener">subscribed <%= channel_listen_control(channel) %></p>
<br>
<% if channel.owned_by(current_user) %>
  <p>more controls:</p>
  <span class="destroy"><%= link_to('delete channel', channel_path, :method => :delete) %></span>
  <br><br>
<% end %>
<p>Channel owner: <%= channel.owner.display_name %></p>
<br>
<h4>Channel subscribers:</h4>
<ul>
  <% channel.listens.all(:include => :user).each do |listen| %>
    <% if !listen.user.stranger? && user = listen.user %>
      <li><%= user.display_name %><%= " | " + link_to('remove listener', listen_path(listen), :method => :delete) if channel.owner == current_user %></li>
    <% end %>
  <% end %>
</ul>