<h3><%= channel.name %></h3> <p id="channel-description"><%= channel.description %></p>
<%= channel_listen_control(channel) %>
<p id="channel-owner">(Owner: <%= channel.owner.display_name %>)</p>
<h4>Channel subscribers:</h4>
<ul id="channel-subscribers">
  <% channel.listens.all(:include => :user).each do |listen| %>
    <% if !listen.user.stranger? && user = listen.user %>
      <li><img src="<%= user.active_avatar_url || '/images/userpicture-mini.jpg' %>" width="20" height="20" alt="Userpicture Mini" /> <span><%= user.display_name %></span>
<%= link_to('remove listener', listen_path(listen), :method => :delete, :class => "channel-remove-listner") if channel.owner == current_user %></li>
    <% end %>
  <% end %>
</ul>

<% if channel.owned_by(current_user) %>
  <h4>Channel Options:</h4>
  <span class="destroy">
    <%= link_to('delete channel', channel_path, :method => :delete) %>
  </span>
<% end %>
