<%= render "nav_channels" %>
<output class="content" data-tab="channels">
  <h2><%= t("channels.headline_global") %></h2>
  <p><%= t("channels.text_global") %></p>
  
  <ul class="channel-teaser">
    <%- @global_channels.each do |channel| %>
      <li>
        <%= link_to show_global_channels_path(:uuid => channel.uuid, :node => { :uuid => @team_node.uuid, :url => @team_node.url }), :class => global_channel_class(@team_node, channel) do %>
          <span class="fix-firefox3">
            <h4 class="reply channel">@<%= channel.name %></h4>
            <p><%= channel_description(channel, 140) %></p>
          </span>
        <%- end %>
      </li>
    <%- end %>
    <%- if @channels.empty? %>
      <p class="hint"><%= t("channels.hint_no_global_available") %></p>
    <%- end %>
  </ul>
  
</output>
