<h2>Channels</h2>

<div class="channels options">
  <%= link_to 'create a channel', "#", :class => "create", :rel => "create" %>

  <div id="create" class="create section hidden">
    <%- form_for :channel, :url => channels_path, :action => 'post' do |f| -%>
      <fieldset>
        <%= f.text_field :name, { :title => 'Name of the channel…' } %>
        <%= f.text_field :description, { :title => 'Description of the channel…' } %>
        <%= button 'Create' %>
      </fieldset>
    <%- end -%>
  </div>

  <form action="/channels/search" class="search">
    <fieldset>
      <input type="text" value="<%= params[:description] %>" name="description" title="search for interesting channels…"/>
    </fieldset>
  </form>

  <ul>
    <%- @channels.each do |c| -%>
      <li>
        <div id="index-<%= c.id %>" class="index section">
          <%= "#{h c.name} <span>(#{h c.description})</span>" %>
          <span class="control">
            <span class="destroy"><%= link_to 'delete', "#", :rel => "destroy-#{c.id}" %> | </span>
            <span class="edit"><%= link_to 'edit', "#", :rel => "edit-#{c.id}" %> | </span>
            listen <%= channel_listen_control(c) %>
          </span>
        </div>

        <div id="edit-<%= c.id %>" class="edit section hidden">
          <%- form_for :channel, :url => { :action => 'update' } do |f| -%>
            <fieldset>
              <%= f.hidden_field :id, { :value => c.id, :id => "channel-id-#{c.id}" } %>
              <%= f.text_field :name, { :value => c.name, :title => 'Name of the channel…', :id => "channel-name-#{c.id}" } %>
              <%= f.text_field :description, { :value => c.description, :title => 'Description of the channel…', :id => "channel-description-#{c.id}" } %>
              <%= button 'Save' %>
            </fieldset>
          <%- end -%>
        </div>
      </li>
    <%- end -%>
  </ul>
</div>