<%= render "nav_channels" %>
<output class="content" data-tab="channels">
  <h2><%= t("channels.headline_local") %></h2>
  <p><%= t("channels.text_local") %></p>
  <h3><%= t("channels.headline_subscribed") %></h3>
  <ul class="channels-list">
    <%= render @subscribed_channels %>
  </ul>
  <% if (not_subscribed_channels = @channels - @subscribed_channels).any? %>
    <h3><%= t("channels.headline_unsubscribed") %></h3>
    <ul class="channels-list">
      <%= render not_subscribed_channels %>
    </ul>
  <% end %>
</output>