<h2>Channels</h2>
<div id="channels">

  <form action="/channels/search" class="search">
    <fieldset>
      <input type="text" value="<%= params[:description] %>" name="description" title="search for interesting channels…"/>
    </fieldset>
  </form>

  <ul>
    <% @networks.each do |n| %>
    <li class="network" id="network-<%= n.id %>">
      <p><%= n.name %></p>
      <ul>
        <%- n.channels.each do |c| -%>
          <% if subscribed = current_user.subscribed?(c) || c.public? %>
          <li id="channel-<%= c.id %>" class="channel">
            <% if subscribed %>
              <img src="/images/bullet_green.png" width="16" height="16" alt="" class="channel-indicator" />
            <% end %>
            <%= "#{h c.name} <span>(#{h c.description})</span>" %>
         </li>
         <%- end -%>
       <%- end -%>
      </ul>
    </li>
    <% end %>
  </ul>

  <%= link_to 'create a channel', "#", :class => "create", :rel => "create" %>

  <div id="create" class="create section hidden">
    <%- form_for :channel, :url => channels_path, :action => 'post' do |f| -%>
      <fieldset>
        <%= f.text_field :name, { :title => 'Name of the channel…' } %>
        <%= f.text_field :description, { :title => 'Description of the channel…' } %>
        <%= button 'Create' %>
      </fieldset>
    <%- end -%>
  </div>

</div>
<div id="channels-details">
</div>