<%= render "nav_channels" %>
<output class="content" data-tab="channels">
  <h2>Create new channel</h2>
  <p>
    Channels are like groups. You can create one for each topic (eg. Music, Project XYZ).<br>
    Further configuration settings can be set after the channel has been created.
  </p>
  <%= form_for :channel, :url => { :action => :create }, :remote => true, :html => { 'data-type' => 'html' } do |f| -%>
    <div class="form-field">
      <%= f.label :name, 'Name:' %>
      <%= f.text_field :name, { :autofocus => 'autofocus', :maxlength => 30, :placeholder => 'eg. Music, Project XYZ, Ruby, ...' } %>
    </div>
    <div class="form-field">
      <%= f.label :description, 'Description (optional):' %>
      <%= f.text_area :description %>
    </div>
    <div class="form-field">
      <label for="channel_public">Private:</label>
      <input name="channel[public]" type="hidden" value="true">
      <input type="checkbox" id="channel_public" name="channel[public]" value="false">
      <a data-hover-hint="top" title="Users can't subscribe this channel without being verified by the owner of this channel" class="hint">(?)</a>
    </div>
    <%= button 'Create' %>
  <%- end -%>
</output>