<%= render "nav_channels" %>
<output class="content" data-tab="channels">
  <h2>
    <%= @channel.display_name %>
    <%- unless @channel.public? %>
      <i><%= t("channels.flag_private") %></i>
    <%- end %>
    <%= link_to(t("link_edit"), edit_channel_path(@channel), :class => 'action-link edit') if current_user.can_edit?(@channel) %>
  </h2>
  
  <%- unless @channel.description.blank? %>
    <p><%= @channel.description %></p>
  <%- end %>

  <h3 class="belongs-to-list"><%= t("channels.headline_subscribers") %> (<%= @channel.users.registered.size %>)</h3>

  <ul class="subscribers-list list">
    <%- if @channel.users.registered.size == 0 %>
      <li class="hint"><%= t("channels.hint_no_subscriptions")%></li>
    <%- else %>
      <%- @channel.listens.registered.all(:include => :user, :order => 'verified ASC', :limit => configatron.max_list_size).each do |listen| %>
        <%- user = listen.user  %>
        <li data-cucumber="<%= listen.user.id %>" tabindex="-1">
          <%= avatar(user, :width => 20, :height => 20, :lazy_load => true) %>
          <%= user.display_name %>
          <%= raw("<strong>#{t('channels.flag_owner')}</strong>") if @channel.owned_by?(listen.user) %>
          <%= raw("<strong>#{t('channels.flag_awaiting_verification')}</strong>") unless listen.verified? %>
          <a href="/users/<%= user.id %>" class="action"><%= t("channels.link_show_profile") %></a>
          <%- if @channel.owned_by?(current_user) || current_user.admin? %>
            <%= link_to(t("link_remove"), listen_path(listen), :method => :delete, :remote => true, :class => "action", 'data-type' => 'html') %>
            <%- unless listen.verified? %>
              <%= link_to(t("link_verify"), listen_accept_path(listen), :method => :post, :remote => true, :class => "action", 'data-cucumber' => 'verify', 'data-type' => 'html') %>
            <%- end %>
          <%- end %>
        </li>
      <%- end %>
    <%- end %>
  </ul>


  <%- if current_user.channels.include?(@channel) %>
    <%= form_tag(current_user.listens.find_by_channel_id(@channel.id), {
      :remote => true,
      :method => :delete,
      'data-type' => 'html',
      :class => "single-button-form subscribe-channel-form"
    }) do -%>
      <%= button t("channels.label_unsubscribe") %>
    <%- end %>
  <%- else %>
    <%= form_tag(listens_path(:channel_id => @channel.id), {
      :remote => true,
      :method => :post,
      'data-type' => 'html',
      :class => "single-button-form subscribe-channel-form"
    }) do -%>
      <%= button t("channels.label_subscribe") %>
      <%- unless @channel.public? %>
        <span class="hint"><%= t("channels.hint_subscription_needs_verification")%></span>
      <%- end %>
    <%- end %>
  <%- end %>

  <%- if permitted_to?(:update, @channel) %>
    <h3><%= t("channels.headline_subscribe_users") %> <a data-hover-hint="top" title="<%= t("channels.hint_edit_rights") %>" class="hint">(?)</a></h3>
    <p><%= t("channels.text_subscribe_users") %></p>
    <%= form_tag(listen_for_user_path, { :remote => true, 'data-type' => 'html', :class => 'single-button-form subscribe-user', :method => 'post' }) do %>
      <%= hidden_field_tag :id, current_user.id %>
      <%= hidden_field_tag :user_id, current_user.id %>
      <%= hidden_field_tag :channel_id, @channel.id %>
      <input type="text" placeholder="<%= current_user.admin? ? t("channels.placeholder_user_name_or_email") : t("channels.placeholder_user_name") %>" name="search_term" data-users-autocomplete> <%= button t("channels.label_add") %>
    <% end %>
  <%- end %>
</output>