<%= render "nav_channels" %>
<output class="content" data-tab="channels">
  <h2>
    <%= @channel.display_name %>
    <%- unless @channel.public? %>
      <i>(private)</i>
    <%- end %>
  </h2>
  
  <%- unless @channel.description.blank? %>
    <p><%= @channel.description %></p>
  <%- end %>

  <h3 class="belongs-to-list"><%= @channel.locally_hosted? ? "Subscribers" : "Subscribers from this node" %> (<%= @channel.users.registered.size %>)</h3>

  <ul class="subscribers-list list">
    <%- if @channel.users.registered.size == 0 %>
      <li class="hint">There are currently no users that subscribed to this channel. Be the first!</li>
    <%- else %>
    
      <%- @channel.listens.registered.all(:include => :user, :order => 'verified ASC', :limit => configatron.max_list_size).each do |listen| %>
        <%- user = listen.user  %>
        <li data-cucumber="<%= listen.user.id %>" tabindex="-1">
          <%= avatar(user, :width => 20, :height => 20, :lazy_load => true) %>
          <%= user.display_name %>
          <%= raw("<strong>(owner)</strong>") if @channel.owned_by?(listen.user) %>
          <%= raw("<strong>(awaiting verification)</strong>") unless listen.verified? %>
          <a href="/users/<%= user.id %>" class="action">show profile</a>
          <%- if @channel.owned_by?(current_user) || current_user.admin? %>
            <%= link_to('remove', listen_path(listen), :method => :delete, :remote => true, :class => "action", 'data-type' => 'html') %>
            <%- unless listen.verified? %>
              <%= link_to('verify', listen_accept_path(listen), :method => :post, :remote => true, :class => "action", 'data-cucumber' => 'verify', 'data-type' => 'html') %>
            <%- end %>
          <%- end %>
        </li>
      <%- end %>
    <%- end %>
  </ul>


  <%- if current_user.channels.include?(@channel) %>
    <%= form_tag(current_user.listens.find_by_channel_id(@channel.id), {
      :remote => true,
      :method => :delete,
      'data-type' => 'html',
      :class => "single-button-form subscribe-channel-form"
    }) do -%>
      <%= button "Unsubscribe" %>
    <%- end %>
  <%- else %>
    <%= form_tag(listens_path(:channel_id => @channel.id), {
      :remote => true,
      :method => :post,
      'data-type' => 'html',
      :class => "single-button-form subscribe-channel-form"
    }) do -%>
      <%= button "Subscribe" %>
      <%- unless @channel.public? %>
        <span class="hint">This channel is private: The owner needs to verify your subscription.</span>
      <%- end %>
    <%- end %>
  <%- end %>

  <%- if permitted_to?(:update, @channel) %>

    <h3>Subscribe users</h3>
    <p>
      Enter a user name into to subscribe him to this channel, or enter an email address to invite external users.
    </p>
    <%= form_tag(listen_for_user_path, { :remote => true, 'data-type' => 'html', :class => 'single-button-form subscribe-user', :method => 'post' }) do %>
      <%= hidden_field_tag :id, current_user.id %>
      <%= hidden_field_tag :user_id, current_user.id %>
      <%= hidden_field_tag :channel_id, @channel.id %>
      <input type="text" placeholder="User name, id or email ..." name="search_term" data-users-autocomplete> <%= button 'Subscribe' %>
    <% end %>

    <%- if current_user.admin? && @channel.locally_hosted? %>
      <h3>Invite people <a data-hover-hint="top" title="Only visible to admins" class="hint">(?)</a></h3>
      <p>Grow your network by <%= link_to("inviting people", new_invitation_path(:channel_id => @channel.id), :class => 'promotion-link') %> to this and other channels.</p>
    <%- end %>

    <h3>Settings <a data-hover-hint="top" title="Only visible to admins and the channel owner" class="hint">(?)</a></h3>

    <%= form_for @channel, :html => { 'data-ajax-auto-submit' => '1' } do |f| -%>
      <%= f.hidden_field :id, { :value => @channel.id } %>
      <label class="checkbox-row" for="channel_public">
        <input name="channel[public]" type="hidden" value="true" />
        <input type="checkbox" id="channel_public" name="channel[public]" value="false" <%= "checked" unless @channel.public %> />
        private (users can't subscribe without verification)
      </label>
      <%- if request.host =~ /team.protonet.info/ || Rails.env != "production" %>
        <label class="checkbox-row" for="channel_global">
          <%= f.check_box :global %>
          global (channel is visible from external nodes and clients)
        </label>
      <%- end %>
    <%- end %>

    <%- if @channel.locally_hosted? %>
      <h3>Delete channel <a data-hover-hint="top" title="Only visible to admins and the channel owner" class="hint">(?)</a></h3>
      <p>Delete this channel and all messages posted in it.</p>
      <%= form_tag("/channels/#{@channel.id}", {
        :remote     => true,
        :method     => :delete,
        'data-type' => 'html',
        'class'     => 'single-button-form'
      }) do -%>
        <%= button "Delete", 'data-confirm' => 'Do you really want to delete this channel? There\'s no undo.' %>
      <%- end %>
    <%- end %>
  <%- end %>
</output>