<%- if current_user.stranger? && configatron.ldap.single_authentication != true -%>
  <% form_for :user, :url => users_path, :html => {:id => "registration-form", :class => "#{form_class if defined?(form_class)}"} do |f| -%>
    <fieldset>
      <legend>
        <strong>JOIN the (r)evolution</strong>
        <span>woohooo!</span>
      </legend>
      <ul>
        <li><%= error_messages_for :user, :header_tag => 'h3', :object_name => 'account' %></li>
        <li>
          <%= f.label :login %>
          <%= f.text_field "login", {:id => 'new-user-login', :title => 'user name'} %>
        </li>
        <li>
          <%= f.label :email %>
          <%= f.text_field "email", {:id => 'new-user-email', :title => 'email address'} %>
        </li>
        <li>
          <%= f.label :password %>
          <%= f.password_field "password", {:id => 'new-user-password'} %>
          <%= f.hidden_field "password_confirmation", {:id => 'new-user-password-confirmation'} %>
        </li>
      </ul>
    </fieldset>
    <button type="submit" name="join">
      <span>
        <em>Join</em>
      </span>
    </button>
  <%- end -%>
<%- end -%>
