<div id="feed-viewer-<%= tweet.id %>" class="feed-viewer">
  <span class="pos-num"><%= pos%></span>
  <span class="more-tweets">
    <%= link_to(image_tag("up_arrow.png"),
      more_tweets_path(tweet.id,channel.id,more_time + 10,less_time,pos)) %>
    <% if more_time > 10 -%>
      <%= link_to(image_tag("down_arrow.png"),
        more_tweets_path(tweet.id,channel.id,more_time - 10,less_time,pos)) %>
    <% end -%>

    <%= "#{minutes_to_words(more_time)} Later" %>
  </span>
  <div class="feed-holder" style="width:613px;">

  <%= render :partial => '/tweets/tweet_list',
    :locals => { :tweets => tweets, :channel => channel} %>
  </div>

  <span class="more-tweets">
    <%= link_to(image_tag("up_arrow.png"),
      more_tweets_path(tweet.id,channel.id,more_time,less_time + 10,pos)) %>
    <% if less_time > 10 -%>
      <%= link_to(image_tag("down_arrow.png"),
        more_tweets_path(tweet.id,channel.id,more_time,less_time - 10,pos)) %>
    <% end -%>

    <%= "#{minutes_to_words(less_time)} Earlier" %>
  </span>
  <hr class="search-border">&nbsp;</div>
</div>