<div class="welcome">
  <img src="/img/protonet_node_front_view.png" height="249" width="360" alt="protonet node. your private cloud.">
  <h1>Welcome to the <strong>protonet</strong> of <strong><%= Node.local.name %></strong></h1>
  
  <%- if session[:captive_redirect_url] %>
    <p class="info-message"><%= raw(SystemPreferences.captive_portal_greeting) %></p>
  <%- end %>
  
  <%= form_for :user, :url => user_session_path, :html => { :class => "login", :style => @signup_error || params[:invitation_token] ? "display: none" : "" } do |f| -%>
    <fieldset>
      <%- if SystemPreferences.remote_ldap_sign_on %>
        <h3>Login with your ldap credentials</h3>
      <%- end %>
      
      <label>
        <%= f.text_field :login, :placeholder => "user name or email" %>
      </label>
      <label>
        <%= f.password_field :password, :value => nil, :placeholder => "password" %>
      </label>
      <label for="user_remember_me">
        <%= f.check_box :remember_me, :checked => true %> <span class="hint">Keep logged in?</span>
      </label>
      <div>
        <%= button "Login", :id => "login" %>
        <%- if allow_signup? %>
          or <a href="/users/sign_in#register" class="promotion-link register-link">create an account</a>
        <%- end %>
      </div>
    </fieldset>
  <%- end %>
  
  <%- if allow_signup? %>
    <%= form_for :user, :url => user_registration_path, :html => { :class => "register", :style => @signup_error || params[:invitation_token] ? "" : "display: none" } do |f| %>
      <%= hidden_field_tag :invitation_token, params[:invitation_token] if params[:invitation_token] %>
      <fieldset>
        <h3>
          <%- if @invitation %>
            You have been invited by <%= @invitation.user.display_name %>. Just create an account. It's free
          <%- else %>
            Create an account. It's free.
          <%- end %>
        </h3>
        <label>
          <%= f.text_field :login, :placeholder => "user name", :value => (@user && @user.login) || (@invitation && @invitation.name && @invitation.name.parameterize) %>
          <span class="hint">min. 3 characters, allowed: A-Z, 0-9 and .-_</span>
        </label>
        <label>
          <%= f.text_field :email, :placeholder => "email", :type => "email", :value => (@user && @user.email) || (@invitation && @invitation.email) %>
          <span class="hint">a valid email address</span>
        </label>
        <label>
          <%= f.password_field :password, :placeholder => "password" %>
          <span class="hint">min. 6 characters</span>
        </label>
        <label>
          <%= f.password_field :password_confirmation, :placeholder => "password" %>
          <span class="hint">repeat for confirmation</span>
        </label>
        <div>
          <%= button "Sign up", :id => "register" %> <a href="/users/sign_in#login" class="promotion-link login-link">already have an account?</a>
        </div>
      </fieldset>
    <%- end %>
  <%- end %>
  <a href="http://protonet.info" target="_blank" class="copyright-link" title="Click here to get informed about protonet">&copy; 2012 protonet. it's yours.</a>
</div>