<div data-role="page" id="navigation" class="ui-page">

  <div data-role="header" data-theme="b">
    <a href="#channels-new" data-icon="new-chat" class="ui-btn-right" data-iconpos="notext">New Channel</a>
    <h1>protonet</h1>
  </div>

  <div data-role="content">
    <ul data-role="listview" id="channel-list" data-theme="d"></ul>
    <div class="footer">
      <p>You are logged in as <%= current_user.login %>. <a href="/mobile/sign_out" rel="external"  class="ui-btn-left">Sign out</a>. Switch to <a href="<%= base_url %>?is_mobile=false">normal Version</a>
      </p>
    </div>
  </div>

</div>

<div data-role="page" id="channels-new" class="ui-page">

  <div data-role="header" data-theme="b">
    <a href="#navigation" data-icon="home" class="ui-btn-left" data-iconpos="notext">Home</a>
    <h1>New conversation</h1>
  </div>

  <div data-role="content">  
    <ul data-role="listview" id="user-list" data-theme="d" data-filter="true" data-filter-placeholder="Search user..." data-filter-theme="d" data-divider-theme="d"></ul>
  </div>

</div>

<%= erb :"templates/channel" %>
<%= erb :"templates/meep" %>
<%= erb :"templates/channel-link" %>
<%= erb :"templates/user-link" %>
<%= erb :"templates/emoji" %>
<%= erb :"templates/text_extension" %>
<%= erb :data %>
