<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8" />
    <title>protonet - mobile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"> 
    <link rel="stylesheet" href="/assets/jquery.mobile-1.1.1.css" />
    <% if settings.production %>
      <%= stylesheet_link_tag "layout" %>
    <% else %>
      <link rel="stylesheet" href="/assets/layout.css" />
    <% end %>
    <script src="/assets/lib/jquery-1.8.2.min.js"></script>
    <script src="/assets/lib/jquery.mobile-1.1.1.js"></script>
    <script>
      $.mobile.touchOverflowEnabled = true;
      $.mobile.autoInitializePage = false;
    </script>
  </head>

<body>

<%= yield %>

<% if current_user %>
  <script>
    window.$window   = $(window);
    window.$document = $(document);
    var protonet = {
      config: {
        node_base_url:                    "<%= node_base_url %>",
        token:                            "<%= current_user.communication_token %>",
        user_id:                          <%= current_user.id %>,
        dispatching_server:               "localhost",
        dispatching_server_port:          "5000",
        dispatching_websocket_url:        "ws://<%= request.host %>:5001",
        dispatching_websocket_url_ssl:    "wss://<%= request.host %>:5002",
        dispatching_websocket_delimiter:  "",
        users:                            null,
        channels:                         null,
        api_url:                          "<%= settings.api_url %>",
        debug_mode:                       false
      },
      events: {},
      utils: {}
    };
  </script>
  <% if settings.production %>
    <%= javascript_include_tag "application" %>
  <% else %>
    <script src="/assets/application.js" ></script>
  <% end %>
<% else %>
  <script>
    $.mobile.initializePage();
  </script>
  <script src="/assets/authentication.js"></script>
<% end %> 
</body>
</html>