<!DOCTYPE html>
<html>

  <head>
    <base href="/mobile/">
    <meta charset="UTF-8" />
    <title>protonet - mobile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"> 
    <%= stylesheet_link_tag "layout" %>
    <script src="//code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="//code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
    <script>
      $.mobile.touchOverflowEnabled = true;
      $.mobile.autoInitializePage = false;
      $.mobile.defaultPageTransition = 'none';
    </script>
  </head>

<body>

<%= yield %>

<div class="flash-message ">
  <p></p>
  <a href="/" class="flash-message-close-link" data-avoid-ajax="1">×</a>
</div>

<% if current_user && session['captive_redirect_url'] %>
  <div data-role="popup" id="captive-portal" data-overlay-theme="a" data-theme="c" style="max-width:400px;" class="ui-corner-all">
    <div data-role="content" data-theme="d" class="ui-corner-bottom ui-content">
      <h3 class="ui-title">Hi <%= current_user.login %></h3>
      <p>Welcome to Protonet. Click the following button to enable internet access and to open <strong><%= session['captive_redirect_url'] %></strong>.</p>
      
      <a href="<%= host %>/captive/login" data-role="button" data-inline="true" data-theme="c" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" class="ui-btn ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-up-c" rel="external">
        <span class="ui-btn-inner ui-btn-corner-all">
          <span class="ui-btn-text">Get internet access</span>
        </span>
      </a>
    </div>
  </div>
</div>

<% end %>

<% if current_user %>
  <script>
    window.$window   = $(window);
    window.$document = $(document);
    var protonet = {
      config: {
        base_url:                         "<%= base_url %>",
        node_base_url:                    "<%= node_base_url %>",
        token:                            "<%= current_user.communication_token %>",
        user_id:                          <%= current_user.id %>,
        dispatching_server:               "<%= server_name %>",
        dispatching_server_port:          "<%= settings.socket_port %>",
        dispatching_websocket_url:        "ws://<%= server_name %><%= settings.production ? "/websocket" : ":#{settings.websocket_port}" %>",
        dispatching_websocket_url_ssl:    "wss://<%= server_name %><%= settings.production ? "/websocket" : ":#{settings.websocket_ssl_port}" %>",
        dispatching_websocket_delimiter:  "<%= settings.production ? "\\0" : "" %>",
        xhr_streaming_url:                "<%= host %><%= settings.production ? '/xhr' : ':8000' %>",
        users:                            null,
        channels:                         null,
        debug_mode:                       false
      },
      events: {},
      utils: {},
      ui: {}
    };
  </script>
  <%= javascript_include_tag "application" %>
<% else %>
  <%= javascript_include_tag "authentication" %>
<% end %> 
</body>
</html>