<h2>Networks</h2>
<% javascript_tag do %>
  var networks = <%= @networks.to_json %>;
<% end %>
<div id="network" style="float:left;">
  <form id="network-search" action="/network/search">
    <fieldset>
      <input type="text" value="<%= params[:description] %>" name="description" title="search for networks ..."/>
    </fieldset>
  </form>
  
  <ul>
    <%- @networks.each do |n| -%>
      <li id="network-<%= n.id %>">
        <%= "#{n.name}" %>
        <% unless n.local? %>
          <span class="control"><%= link_to('OFF', {:action => (n.coupled? ? 'decouple' : 'couple'), :network_id => n.id}, :class => n.coupled? ? 'on' : 'off') %></span>
        <% end %>

      </li>
    <%- end -%>
  </ul>
  <%= link_to 'add a network', "#", :class => "create", :rel => "create" %>
  
  <div id="create" class="create section hidden">
    <%- form_for :network, :url => networks_path, :action => 'post' do |f| -%>
      <fieldset>
        <%= f.text_field :name, { :title => 'Name of the network…' } %>
        <%= f.text_field :description, { :title => 'Description of the network…' } %>
        <%= f.text_field :supernode, { :title => 'What is the address of this nodes management…' } %>
        <%= button 'Add' %>
      </fieldset>
    <%- end -%>
  </div>
  
</div>
<div id="network-monitor-wrapper">
  <div id="network-details"></div>
  <div id="network-monitor"></div>
</div>
