<h2>Networks</h2>
<div id="network" style="float:left;">
  <form id="network-search" action="/network/search">
    <fieldset>
      <input type="text" value="<%= params[:description] %>" name="description" title="search for networks ..."/>
    </fieldset>
  </form>
  
  <ul>
    <%- @networks.each do |n| -%>
      <li id="network-<%= n.id %>">
        <%= "#{n.name}" %>
        <span class="control"><%= link_to('OFF', {:action => 'connect'}, :class => 'off') %></span>

      </li>
    <%- end -%>
  </ul>
  <%= link_to 'create a network', "#", :class => "create", :rel => "create" %>
  
  <div id="create" class="create section hidden">
    <%- form_for :network, :url => networks_path, :action => 'post' do |f| -%>
      <fieldset>
        <%= f.text_field :name, { :title => 'Name of the network…' } %>
        <%= f.text_field :description, { :title => 'Description of the network…' } %>
        <%= f.text_field :supernode, { :title => 'What is the address of this nodes management…' } %>
        <%= button 'Create' %>
      </fieldset>
    <%- end -%>
  </div>
  
</div>
<div id="network-monitor-wrapper">
  <div id="network-monitor">

    <!-- border: 0.1em solid #D4D4D4; -->
  </div>
</div>
