<style>
/* =NETWORK
--------------------------------------------------------------------------- */
#network h3 {
  font-size: 1.4em;
  font-weight: bold;
  margin: 0 0 0.5em;
}
#network {
  background: rgb(247, 247, 247);
  border: 0.1em solid rgb(212, 212, 212);
  margin: 0 1em 1.5em;
  padding: 1em 1em 0.5em;
  width:  255px;
  height: 591px;
}
#network li {
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  background: rgb(255, 255, 255) url(/images/bkg_message.png) repeat-x scroll left bottom;
  border-radius: 0.5em;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: rgb(0, 0, 0);
  font-size: 1.4em;
  font-weight: bold;
  margin: 0 0 0.5em;
  padding: 1em 0.6em;
  text-decoration: none;
}
#network li span {
  color: rgba(0, 0, 0, 0.5);
  font-weight: normal;
}
#network li.clicked {
  background: none;
}
#network .control {
  float: right;
}

#network a {
  background: url(/images/spr_on_off.png) no-repeat;
  display: inline-block;
  height: 31px;
  margin: 0 0 0 0.5em;
  position :relative;
  text-indent: -500em;
  top: -5px;
  width: 82px;
}
#network a.on {
  background-position: 0 0;
}
#network a.off {
  background-position: 0 -31px;
}
#network a.create {
  background: none;
  display: block;
  font-size: 1.2em;
  margin: 0 0 0.3em;
  text-align: right;
  width: auto;
}
#network div.create {
  margin: 0 0 1em;
}
#network-search {
  margin-bottom: 1em;
}
#network-search input {
  border: 1px solid rgba(0, 0, 0, 0.4);
  float: left;
  font-size: 1.8em;
  line-height: 1em;
  margin: 0;
  padding: 0.1em 0.2em;
  width: 245px;
}
/* =NETWORK-MONITOR
--------------------------------------------------------------------------- */
#network-wrap {
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  background: rgb(213, 213, 213);
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  font-size: 1.2em;
  margin: 0 0 1em 0;
  padding: 0.3em;
}
#network-links {
  text-align: right;
  padding: 0.3em;
}
#network-monitor-wrapper {
  background: rgb(247, 247, 247);
  border: 0.1em solid rgb(212, 212, 212);
  margin: 0 1em 1.5em;
  padding: 1em 1em 0.5em;
  width: 540px;
  height: 590px;
  float:left;
}
#network-monitor {
 -moz-border-radius: 0.5em;
 -webkit-border-radius: 0.5em;
 width: 520px;
 height: 300px;
 opacity:0.95;
 background-color: #fff; #141414;
 padding: 1em 1em 0.5em;
 xborder: 0.1em solid #FDAB54;
}
  .side #network-monitor {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 1.2em;
    margin: 0 0 0 0;
    padding: 0.3em;
    width: 294px;
    height: 200px;
  }
  .clear {
    float: none;
  }
#network-details {
  vertical-align: top;
  background: rgb(247, 247, 247);
  border: 0.1em solid rgb(212, 212, 212);
  display: inline-block;
  overflow:scroll;
  height: 220px;
  margin: 0 0 1em;
  padding: 1em 1em 0.5em;
  width: 520px;
}

</style>
<%= javascript_tag do %>
  var networks = <%= @networks.to_json %>;
<% end %>
<section class="sub main">
  <h2>Networks</h2>
  
	<div id="network" style="float:left;">
	  <form id="network-search" action="/network/search" method="post">
	    <fieldset>
	      <input type="text" value="<%= params[:description] %>" name="description" title="search for networks ..."/>
	    </fieldset>
	  </form>

	  <ul>
	    <%- @networks.each do |n| -%>
	      <li id="network-<%= n.id %>">
	        <%= n.name %>
	        <%- unless n.local? -%>
	          <span class="control"><%= link_to('OFF', {:action => (n.coupled? ? 'decouple' : 'couple'), :network_id => n.id}, :class => n.coupled? ? 'on' : 'off') %></span>
	        <%- end -%>
	      </li>
	    <%- end -%>
	  </ul>
	  <%= link_to 'add a network', "#", :class => "create", :rel => "create" %>

	  <div id="create" class="create section hidden">
	    <%= form_for :network, :url => networks_path, :action => 'post', :html => { :id => "new-network-form" } do |f| -%>
	      <fieldset>
	        <%= f.text_field :name, { :title => 'Name of the network…' } %>
	        <%= f.text_field :description, { :title => 'Description of the network…' } %>
	        <%= f.text_field :supernode, { :title => 'What is the address of this nodes management…' } %>
	        <%= button 'Add' %>
	      </fieldset>
	    <%- end -%>
	  </div>

	</div>

	<div id="network-monitor-wrapper">
	  <div id="network-monitor"></div>
	  <div style="padding:3px 0 5px;text-align:right;">
		<a href="javascript:void(0);" onclick="NetworkGraph.retry();">re-render</a>
	  </div>
	  <div id="network-details"></div>
	</div>

</section>


