<ul id="<%= "channel-#{channel.id}" %>" class="meeps">
  <%- tweets.each do |hash| -%>
    <%- hash.each do |user, meeps| -%>
      <li id="<%= "meeps-#{meeps.first.id}-#{meeps.last.id}" %>">
        <%- meeps.each do |meep| -%>
          <article>
            <%= format_tweet(meep.message) %>
            <%- if meep.text_extension? -%>
              <div class="text-extension"></div>
              <script type="text/javascript">//<![CDATA[
                protonet.globals.textExtensions.push({
                  channel_id: <%= channel.id.to_json %>,
                  container_id: <%= "meeps-#{meeps.first.id}-#{meeps.last.id}".to_json %>,
                  data: <%= meep.text_extension %>
                });
              //]]></script>
            <%- end -%>
            <p class="author">
              <%= user.display_name %> <time data-format="bygone" datetime="<%= convert_to_iso(meep.created_at) %>"><%= meep.created_at %></time>
            </p>
          </article>
        <%- end -%>
        <div class="avatar">
          <img src="<%= user.active_avatar_url %>" width="36" height="36" alt="" />
        </div>
      </li>
    <%- end -%>
  <%- end -%>
</ul>