<li <%= "id=\"#{html_id}\"" unless html_id.blank? %>>
  <span class="message-usericon">
    <img src="<%= avatar %>" width="47" height="47" alt="" />
  </span>
  <div class="message-text">
    <span class="message-info">
      <span class="message-author"><%= author %></span>
      <span class="message-date">(<%= created_at %>)</span>
    </span>
    <%= h message %>
  </div>
</li>