<div class="box-wrapper">
  <section class="box">
    <%= raw Redcarpet.new(SystemPreferences.captive_portal_greeting).to_html %>
    <div style="float:right;"><a href="/captive/login?req=<%= URI.escape(params[:req]) %>"><strong>test freischaltung</strong></a></div>
  </section>
</div>
<div id="single-login">
  <%= render :partial => 'devise/shared/registration_box' %>
  <header<%= raw " class=\"login\"" if current_user.stranger? %>>
    <a href="<%= root_path %>" class="logo">protonet – it's yours</a>
    <a href="<%= root_path %>" class="monster default">change character</a>
  </header>
</div>
