<div class="avatar-container">
  <%= avatar(@user, :width => 140, :height => 140, :class => 'user-avatar', 'data-user-avatar' => @user.id) %>
  <%- if current_user.can_edit?(@user) %>
    <%= form_tag images_avatars_path, :multipart => true, :class => 'single-button-form' do %>
      <%= hidden_field_tag :user_id, @user.id %>
      <%= file_field_tag :avatar_file, :accept => 'image/jpeg, image/gif, image/png, image/bmp' %>
      <%= t("users.link_change_photo") %>
    <% end %>
  <%- end -%>
</div>