<div class="getting-started widget">
  <h4>
    <%= link_to user_path(:id => current_user.id) do %>
      <%= avatar(current_user, :width => 26, :height => 26, :title => "That's you!") %>
    <%- end %>
    Welcome <%= current_user.display_name %>
  </h4>
  <a class="getting-started-close-link" title="Don't show this again">&times;</a>
  <ol>
    <li class="change-password">
      <%= link_to edit_user_path(:id => current_user.id), 'data-hover-hint' => 'top', :title => 'It\'s still set to "admin"' do %>
        Change your password
      <%- end %>
    </li>
    <li class="upload-avatar">
      <%= link_to edit_user_path(:id => current_user.id), 'data-hover-hint' => 'top', :title => 'Upload an avatar. Let others know who you are' do %>
        Update your profile
      <%- end %>
    </li>
    <li class="create-channel">
      <%= link_to new_channel_path, 'data-hover-hint' => 'top', :title => 'Channels are like groups. Create one for each topic (eg. "Project XYZ")' do %>
        Create channels
      <%- end %>
    </li>
    <li class="invite-user">
      <%= link_to new_invitation_path, 'data-hover-hint' => 'top', :title => 'Get users to collaborate with' do %>
        Tell the world
      <%- end %>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
    </li>
    <li class="write-meep">
      <a data-hover-hint="top" title="Start a conversation">
        Write something
      </a>
    </li>
  </ol>
  <%= link_to raw("logout"), destroy_user_session_path, 'data-avoid-ajax' => 1, 'class' => 'logout-link' %>
</div>