<div class="getting-started widget">
  <h4>
    <%= link_to user_path(:id => current_user.id) do %>
      <%= avatar(current_user, :width => 26, :height => 26, :title => "That's you!") %>
    <%- end %>
    Welcome, <%= current_user.display_name %>
  </h4>
  <a class="getting-started-close-link" title="Don't show this again">&times;</a>
  <ol>
    <li class="upload-avatar">
      <%= link_to edit_user_path(:id => current_user.id), 'data-hover-hint' => 'top', :title => 'Let others know who you are' do %>
        Upload a profile picture
      <%- end %>
    </li>
    <%- unless current_user.invitee? %>
      <li class="create-channel">
        <%- if Channel.real.size > 1 %>
          <%= link_to channels_path, 'data-hover-hint' => 'top', :title => 'Channels are like groups. You can create new ones or subscribe to existing ones' do %>
            Subscribe to channels
          <%- end %>
        <%- else %>
          <%= link_to new_channel_path, 'data-hover-hint' => 'top', :title => 'Channels are like groups/topics. You can create new ones or subscribe to existing ones' do %>
            Create a channel
          <%- end %>
        <%- end %>
      </li>
    <%- end %>
    <li class="write-meep">
      <a data-hover-hint="top" title="Start a conversation">
        Write something
      </a>
    </li>
  </ol>
  <%= link_to "logout >", destroy_user_session_path, 'data-avoid-ajax' => 1, 'class' => 'logout-link' %>
</div>