<h3><%= user.display_name %></h3>
<br/>
<%= image_tag user.active_avatar_url %>

<h4>E-Mail</h4>
<p><%= user.email %></p>

<h4>Created</h4>
<p><%= user.created_at %></p>

<h4>Admin?</h4>
<p class="admin"><%= user.admin ? "yes" : "no" %></p>

<% if user.can_be_edited_by?(current_user) %>
  <br>
  <h4>Edit</h4>

  <h5>Basic Userdata:</h5>
  <div id="edit-<%= user.id %>" class="edit section">
  <% form_for user, :url => { :action => 'update' } do |f| -%>
    <fieldset>
      <%= f.hidden_field :id, { :value => user.id, :id => "user-id-#{user.id}" } %>
      <%= f.text_field :login, { :value => user.login, :id => "user-login-#{user.id}", :title => "Login of the user…" } %><br>
      <%= f.text_field :email, { :value => user.email, :id => "user-email-#{user.id}", :title => "E-Mail of the user…" } %>
      <%= button "Update" %>
    </fieldset>
  <% end %>
  </div>
<% end %>

<%- if user.can_be_edited_by?(current_user) && current_user.admin -%>
  <h5>Admin settings:</h5>
  <% form_tag({:action => 'update_user_admin_flag'}, {:id => 'admin-setting'}) do %>
    <%= hidden_field_tag      :user_id, user.id %>
    <%= label_tag             :admin_password, 'Administrator - please enter your password for changes:' %>
    <%= password_field_tag    :admin_password %>
    <%= hidden_field_tag      :admin, false %><br>
    <%= label_tag             :admin, 'Should this user become an Admin?' %>
    <%= check_box_tag  :admin, true, user.admin? %>
    <%= button "Update" %>
  <% end %>
<%- end -%>

<%- if user.can_be_edited_by?(current_user) && current_user.admin && user != current_user -%>  
  <h5>Password reset!</h5>
  <% form_tag({:action => 'generate_new_password'}, {:id => 'password-reset'}) do %>
    <%= hidden_field_tag      :user_id, user.id %>
    <%= label_tag             :admin_password, 'Administrator - please enter your password for changes:' %>
    <%= password_field_tag    :admin_password %>
    <%= button "Generate New Password " %>
  <% end %>
<%- end -%>
