<% users = SystemPreferences.show_only_online_users ? [] : User.registered.all -%>
<div id="user-widget" class="widget">
  <h3>
    <% if SystemPreferences.show_only_online_users -%>
      Online
    <% end -%>
    Users
    <% unless SystemPreferences.show_only_online_users -%>
      <output class="count">(0/<%= users.size %>)</output>
    <% end -%>
    <span class="loading-hint">loading ...</span>
  </h3>
  <ul>
    <!-- tabindex="-1" ensures that the element is focusable via css -->
    <% users.each do |user| -%>
      <li data-user-id="<%= user.id %>" title="<%=h user.display_name %>" <%= raw 'class="myself"' if user.id == current_user.id %>>
        <a href="#" tabindex="-1"><%=h user.display_name %></a>
      </li>
    <% end -%>
  </ul>
  <div class="resize"></div>
</div>