<% 
    computers = {};
    computer = {};
    computer['name'] = 'arvid';
    computer['mac'] = '55:55:01';
    computer['ip'] = '192.168.0.1';
    computers[0] = computer;
    computer['name'] = 'ali';
    computer['mac'] = '55:55:03';
    computer['ip'] = '192.168.0.3';
    computers[1] = computer;
    computer['name'] = 'vikas';
    computer['mac'] = '55:55:02';
    computer['ip'] = '192.168.0.2';
    computers[2] = computer;

-%>
<% # computers = WifiClient.associated.all -%>
<div id="computers-widget" class="widget">
  <h3><output class="wifi-count">(0/<%= computers.size %>)</output> <span class="loading-hint">loading ...</span></h3>
  <ul>
    <!-- tabindex="-1" ensures that the element is focusable via css -->
    <%  computers.each do |computer| -%>
      <li data-user-id="<%= computer %>" title="<%=h computer %>">
        <a href="#" tabindex="-1"><%=h computer %> | <%=h computer %> | <%=h computer %></a>
      </li>
    <% end -%>
  </ul>
  <div class="resize"></div>
</div>