<output class="content">
  <%= render :partial => 'avatar' %>
  
  <h2>Edit @<%= @user.display_name %> <a data-hover-hint="top" title="This page can only be seen by admins and the user himself" class="hint">(?)</a></h2>
  
  <%- unless @user.stranger? && @user.anonymous? %>
    <h3>Edit user details</h3>
    <%- if SystemPreferences.remote_ldap_sign_on == true -%>
      <p class="hint">You cannot edit user details since the admin of this node enabled ldap authentication.</p>
    <%- else %>
      <%= form_for(@user, {
        :url        => user_path,
        :method     => :update,
        :remote     => true,
        :html       => { 'data-type' => 'html', 'data-cucumber' => 'user-details' }
      }) do |f| -%>
        <%= hidden_field_tag :user_type, @user.class.to_s.underscore %>
        <%= hidden_field_tag :user_id, @user.id %>
        <%= hidden_field_tag :id, @user.id %>
        <%= f.hidden_field :id %>
        <div class="form-field">
          <%= f.label :login, 'User name:' %>
          <%= f.text_field :login %>
        </div>
        <div class="form-field">
          <%= f.label :email, 'E-Mail:' %>
          <%= f.text_field :email %>
        </div>
        <%= button "Save" %>
      <%- end %>
    <% end %>
  <%- end %>
  
  <%- unless @user.stranger? && @user.anonymous? %>
    <h3>Change password</h3>
    <%- if SystemPreferences.remote_ldap_sign_on == true -%>
      <p class="hint">You cannot change the password since the admin of this node enabled ldap authentication.</p>
    <%- else %>
      <%- if current_user.admin? && current_user != @user %>
        <%= form_tag({ :action => 'generate_new_password' }, { :remote => true, 'data-type' => 'html', 'data-cucumber' => 'change-password' }) do %>
          <%= hidden_field_tag :id, @user.id %>
          <%= hidden_field_tag :user_id, @user.id %>
          <div class="form-field">
            <%= label_tag :send_email, 'Send new password by email:' %>
            <%= check_box_tag :send_email, true %>
          </div>
          <div class="form-field">
            <%= label_tag :admin_password, 'Your admin password:' %>
            <%= password_field_tag :admin_password %>
          </div>
          <%= button "Generate new password" %>
        <% end %>
      <%- else %>
        <%= form_tag({ :action => 'change_password' }, { :remote => true, 'data-type' => 'html', 'data-cucumber' => 'change-password' }) do %>
          <%= hidden_field_tag :id, @user.id %>
          <div class="form-field">
            <%= label_tag :current_password, 'Current password:' %>
            <%= password_field_tag :current_password, nil %>
          </div>
          <div class="form-field">
            <%= label_tag :password, 'New password:' %>
            <%= password_field_tag :password, nil %><br>
          </div>
          <div class="form-field">
            <%= label_tag :password_confirmation, 'Confirm password:' %>
            <%= password_field_tag :password_confirmation, nil %>
          </div>
          <%= button "Save" %>
        <% end %>
      <%- end %>
    <%- end -%>
  <%- end %>
  
  <%- if current_user.admin? && !@user.stranger?  && !@user.anonymous? -%>
    <h3>Admin settings <a data-hover-hint="top" title="Only visible to admins" class="hint">(?)</a></h3>
    <%= form_tag({ :action => 'update_user_admin_flag' }, { :remote => true, 'data-type' => 'html', 'data-cucumber' => 'admin-settings' }) do %>
      <%= hidden_field_tag :id, @user.id %>
      <%= hidden_field_tag :user_id, @user.id %>
      <div class="form-field">
        <%= hidden_field_tag :admin, false, :id => "temp-#{Time.now.to_i}" %>
        <%= label_tag :admin, 'Administration rights:' %>
        <%= check_box_tag :admin, true, @user.admin? %>
      </div>
      <div class="form-field">
        <%= label_tag :admin_password, 'Your admin password:' %>
        <%= password_field_tag :admin_password %>
      </div>
      <%= button "Save" %>
    <% end %>
  <%- end -%>
  
  <%- if current_user.admin? && !@user.anonymous? %>
  <h3>User roles <a data-hover-hint="top" title="Only visible to admins" class="hint">(?)</a></h3>
    <%= form_tag({ :action => 'update_roles' }, { :remote => true, :class => 'single-button-form role-selector', 'data-type' => 'html' }) do %>
      <%= hidden_field_tag :user_id, @user.id %>
      <%= hidden_field_tag :id, @user.id %>
      <%= select_tag 'user[roles]', options_for_select(Role.where("title != 'admin'").all.map {|p| [ p.title, p.id ] }, @user.roles.collect(&:id)), { "data-multi-select" => true, :multiple => true } %>
      <%= button "Save", 'data-confirm' => 'Are the roles correct?' %>
    <% end %>
  <%- end %>

  <%- if current_user.admin? && !@user.anonymous? %>
    <h3>Delete user <a data-hover-hint="top" title="Only visible to admins" class="hint">(?)</a></h3>
    <%= form_tag({ :action => 'delete' }, { :remote => true, :class => 'single-button-form', 'data-type' => 'html' }) do %>
      <%= hidden_field_tag :user_id, @user.id %>
      <%= hidden_field_tag :id, @user.id %>
      <%= button "Delete", 'data-confirm' => 'Do you really want to delete this user? There\'s no undo.' %>
    <% end %>
  <%- end %>

</output>