<%= render "shared/nav_users"%>
<output class="content user-list" data-tab="users">
  <h2><%= t("users.headline_administrators") %></h2>
  <%- if Role.find_by_title('admin').users.size %>
    <p><%= t("users.hint_contact_admin") %></p>
    <ul>
      <%= render :partial => "user", :collection => User.admins %>
    </ul>
  <%- else -%>
    <p><%= raw(t("users.hint_no_admins")) %></p>
  <%- end -%>
  
  <%= form_tag(search_users_path, :remote => true, :method => :get, :id => "search_users", 'data-type' => 'html', 'data-avoid-disabling' => 'true' ) do %>
    <h2><%= t("users.headline_all_users") %></h2>
    
    <div class="inputs">
      <input type="search" placeholder="<%= t("users.placeholder_find") %>" name="search_term" id="users_search_term" value="<%=params[:search_term]%>" data-users-autocomplete>
      <%= button t("label_go"), :style => 'display: none' %>
    </div>
    
    <output>
      <ul class="common-user-list">
        <%= render :partial => "user", :collection => @users %>
      </ul>
    </output>
    
  <%- end %>
</output>
