<%= render "shared/nav_users"%>
<output class="content user-list" data-tab="users">
  <h2>Administrators <%- if current_user.admin? %><a data-hover-hint="top" title="You can give any user admin rights (go to profile -> click 'edit')" class="hint">(?)</a><%- end %></h2>
  <%- if Role.find_by_title('admin').users.size %>
    <p>Contact one of these people if you've any feedback:</p>
    <ul>
      <%= render User.admins %>
    </ul>
  <%- else -%>
    <p>This node doesn't have any administrators. Anarchy!</p>
  <%- end -%>
  
  <%= form_tag(search_users_path, :remote => true, :method => :get, :id => "search_users", 'data-type' => 'html' ) do %>
    <h2>Discover all registered users</h2>
    
    <div class="inputs">
      <input type="search" placeholder="User name or id ..." name="search_term" id="users_search_term" value="<%=params[:search_term]%>"> 
      <%= button 'Go' %>
    </div>
    
    <output>
      <ul>
        <%= render :partial => "user", :collection => @users %>
      </ul>
      <%= will_paginate @users%>
    </output>
    
  <%- end %>
</output>
