<section class="subpage users-page index">
  <%= render :partial => 'header' %>
  <div class="modal-window-scroll-content">
    <output class="content">
      <h2>Users</h2>
      <p>This node has <strong><%= User.registered.size %></strong> registered users.</p>
      
      <h3>Administrators <%- if current_user.admin? %><a data-hover-hint="top" title="You can give any user admin rights (go to profile -> click 'edit')" class="hint">(?)</a><%- end %></h3>
      <%- if Role.find_by_title('admin').users.size %>
        <p>Contact one of these people if you've any feedback:</p>
        <p>
          <%- Role.find_by_title('admin').users.each do |u| %>
            <%= link_to(user_path(u)) { avatar(u, :width => 48, :height => 48, 'data-hover-hint' => 'top') } %>
          <%- end %>
        </p>
      <%- else -%>
        <p>This node doesn't have any administrators. Anarchy!</p>
      <%- end -%>
      
      <%- unless @active_users.empty? %>
        <h3>Recent active users</h3>
        <%- @active_users.each do |u| %>
          <%= link_to(user_path(u)) { avatar(u, :width => 48, :height => 48, 'data-hover-hint' => 'top') } %>
        <%- end %>
      <%- end %>
      
      <h3>Go to profile</h3>
      <p>Enter the exact user name or user id into the input field to show the profile.</p>
      <%= form_tag({ :action => 'search' }, { :remote => true, 'data-type' => 'html', :class => 'single-button-form', :method => 'get' }) do %>
        <%= hidden_field_tag :id, current_user.id %>
        <%= hidden_field_tag :user_id, current_user.id %>
        <input type="search" placeholder="User name or id ..." name="search_term" id="users_search_term"> <%= button 'Go' %>
      <% end %>
    </output>
  </div>
</section>

