<%= render "shared/nav_users"%>
<output class="content" data-tab="users">
  <%= render :partial => 'avatar' %>
  
  <h2>
    <%= @user.display_name %>
    <%= user_flags(@user) %>
    <%- if current_user === @user %>
      <i>(that's you!)</i>
    <%- end %>
    <%= link_to("edit", edit_user_path(@user), :class => 'action-link edit') if current_user.can_edit?(@user) %>
  </h2>
  <p><strong><%= @user.display_name %></strong> is a member here for <strong title="<%= @user.created_at %>"><%= time_ago_in_words(@user.created_at) %></strong>
    <br>
    subscribed to <strong><%= @user.channels.real.verified.size %></strong> channels and posted <strong><%= Meep.find_all_by_user_id(@user.id).size %></strong> messages so far.</p>
  <p class="buttons">
    <%= link_button("Start private chat", "/?rendezvous_with=#{@user.id}", { 'data-rendezvous-with' => @user.id }) %>
    <%= link_button("Send @reply", "/?reply_to=#{ERB::Util.u(@user.display_name)}", { 'data-reply-to' => @user.display_name }) %>
    <%- if current_user.admin? && current_user.email != "admin@protonet.local" %>
      or <a href="mailto:<%= @user.email %>" target="_blank">send an e-mail</a>. <a data-hover-hint="top" title="Only admins can see the user's e-mail address" class="hint">(?)</a>
    <%- end %>
  </p>
  
  <%- if permitted_to?(:read, :channels) %>
    <h3>Subscribed channels</h3>
    <p class="channel-list">
      <%- if @user.channels.real.verified.empty? %>
        <span class="hint">No channels subscribed.</span>
      <%- else %>
        <%- @user.channels.real.verified.order_by_name.each do |channel| %>
          @<a href="/channels/<%= channel.id %>" class="reply channel"><%= channel.display_name %></a>
        <%- end %>
      <%- end %>
    </p>
  <%- end %>
  
  <h3>
    Recent messages including an attachment
    <%- if @user == current_user %>
      <a data-hover-hint="top" title="Other users will only see messages posted by you in channels that they have also subscribed" class="hint">(?)</a>
    <%- else %>
      <a data-hover-hint="top" title="You only see messages that were posted by @<%= @user.display_name %> in channels that you have also subscribed" class="hint">(?)</a>
    <%- end %>
  </h3>
  <output class="user-meeps" data-user-id="<%= @user.id %>"></output>
  <div class="progress"></div>
</output>