<header class="gradient">
  <nav>
    <ul>
      <li class="logo instruments-controller-link">
        <%= link_to SystemPreferences.browser_title, root_path %>
      </li>
      
      <%- unless current_user.stranger? %>
        <li class="nav-link instruments-controller-link">
          <%= link_to "Chat", root_path %>
        </li>
        <li class="nav-link preferences-controller-link" style="<%= 'display: none;' unless current_user.admin? %>">
          <%= link_to "Administration", preferences_path %>
        </li>
        <%- if permitted_to?(:read, :channels) -%>
        <li class="nav-link channels-controller-link">
          <%= link_to "Channels", channels_path %>
        </li>
        <%- end -%>
        <%- if permitted_to?(:read, User.new) -%>
        <li class="nav-link users-controller-link invitations-controller-link">
          <%= link_to "Users", my_profile_path %>
        </li>
        <%- end -%>
        <li class="search">
          <%= render :partial => 'search/search_form' %>
        </li>
      <%- end %>
    </ul>
  </nav>
</header>