<header class="gradient">
  <nav>
    <ul>
      <li class="logo instruments-controller-link">
        <%= link_to SystemPreferences.browser_title, root_path %>
      </li>
      
      <%- unless current_user.stranger? %>
        <li class="nav-link preferences-controller-link" style="<%= 'display: none;' unless current_user.admin? %>">
          <%= link_to "Administration", preferences_path %>
        </li>
        
        <%- if permitted_to?(:read, :channels) -%>
          <li class="nav-link channels-controller-link">
            <%= link_to "Channels", channels_path %>
          </li>
        <%- end -%>
        
        <%- if permitted_to?(:read, User.new) -%>
          <li class="nav-link users-controller-link invitations-controller-link">
            <%= link_to "Users", users_path %>
          </li>
        <%- end -%>
        
        <%- if permitted_to?(:read, :files) && !current_user.invitee? -%>
          <li class="nav-link files-controller-link">
            <%= link_to "Files", files_path %>
          </li>
        <%- end -%>

        <%- app_dashboard_bindings = AppDashboardBinding.order('link_title ASC').all -%>
        <%- if app_dashboard_bindings.any? -%>
          <li class="nav-link app-controller-link">
            <a href="#">Apps</a>
            <ul>
              <%- app_dashboard_bindings.each do |ad_binding| -%>
                <li class="sub-nav-link"><%= link_to ad_binding.link_title, app_path(ad_binding.app_key.downcase) %></li>
              <%- end -%>
            </ul>
          </li>
        <%- end -%>

        <li class="search">
          <%= render :partial => 'search/search_form' %>
        </li>
      <%- end %>
    </ul>
  </nav>
</header>