<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta charset="UTF-8">
  <meta property="og:image" content="/img/apple-touch-icon_r2.png">
  <meta property="og:title" content="<%= SystemPreferences.browser_title %>">
  <link rel="shortcut icon" href="/img/favicon_r2.png" type="image/png">
  <link rel="apple-touch-icon" href="/img/apple-touch-icon_r2.png">
  <link rel="fluid-icon" href="/img/apple-touch-icon_r2.png" title="<%= SystemPreferences.browser_title %>">
  <link rel="image_src" href="/img/apple-touch-icon_r2.png" type="image/png">
  <title><%= SystemPreferences.browser_title %></title>
  <%- if custom_stylesheet -%>
    <%- if SystemPreferences.custom_css_type == "append" -%>
      <%= stylesheet_link_tag(stylesheets, :cache => (configatron.avoid_caching != false), :concat => true) %>
      <%= include_stylesheet_if_exists("/css/pages/#{controller_name}.css") %>
    <%- end -%>
    <%= raw custom_stylesheet %>
  <%- else -%>
    <%= stylesheet_link_tag(stylesheets, :cache => (configatron.avoid_caching != false)) %>
    <%= include_stylesheet_if_exists("/css/pages/#{controller_name}.css") %>
  <%- end -%>
  <%= csrf_meta_tag %>
  <%# Ensure HTML5 support in IE < 9 %>
  <!--[if lt IE 9]>
    <script>
      "abbr article aside audio canvas details figcaption figure footer header hgroup mark meter nav output progress section summary time video".replace(/\w+/g, function(t){ document.createElement(t); });
    </script>
  <![endif]-->
</head>