<head>
  <meta charset="UTF-8">
  <title>
    <%= strip_tags(yield(:page_title)) || 'protonet - it\'s yours' %>
  </title>
  <link rel="shortcut icon" href="/img/favicon.png" type="image/png">
  <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
  <%= stylesheet_link_tag(stylesheets, :cache => (configatron.avoid_caching != false)) %>
  <%= csrf_meta_tag %>
  <script>
    var protonet = protonet || {};
    protonet.config = {
      base_url:                 location.protocol + "//" + location.host,
      node_base_url:            "<%= node_base_url %>",
      xhr_streaming_url:        "<%= xhr_streaming_url %>",
      dispatching_server:       "<%= server_name %>",
      dispatching_server_port:  "<%= configatron.socket.port %>",
      token:                    "<%= current_user.communication_token %>",
      user_name:                "<%= current_user.display_name %>",
      user_id:                  "<%= current_user.id %>",
      user_channel_ids:         "<%= current_user.channels && current_user.channels.map {|c| c.id}.to_json %>",
      user_icon_url:            "<%= current_user.avatar.url %>",
      user_is_admin:            <%= current_user.admin?.to_json %>, 
      user_is_stranger:         <%= current_user.stranger?.to_json %>,
      session_id:               "<%= cookies['_rails_dashboard_session'] %>",
      authenticity_token:       "<%= form_authenticity_token %>",
      availableChannels:        <%= raw(get_channel_mapping_as_json) %>,
      server:                   "<%= request.server_software %>",
      debugMode:                <%= configatron.log_event_notifications.to_json %>
    };
  </script>
</head>