<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta charset="UTF-8">
  <meta property="og:image" content="/img/apple-touch-icon_r2.png">
  <meta property="og:title" content="<%= SystemPreferences.browser_title %>">
  <link rel="shortcut icon" href="/img/favicon_r2.png" type="image/png">
  <link rel="apple-touch-icon" href="/img/apple-touch-icon_r2.png">
  <link rel="fluid-icon" href="/img/apple-touch-icon_r2.png" title="<%= SystemPreferences.browser_title %>">
  <link rel="image_src" href="/img/apple-touch-icon_r2.png" type="image/png">
  <title><%= SystemPreferences.browser_title %></title>
  <script>
    var protonet = protonet || {};
    protonet.config = {
      controller_name:               "<%= controller_name %>",
      action_name:                   "<%= action_name %>",
      base_url:                      location.protocol + "//" + location.host,
      node_base_url:                 "<%= node_base_url %>",
      xhr_streaming_url:             "<%= xhr_streaming_url %>",
      dispatching_server:            "<%= server_name %>",
      dispatching_server_port:       "<%= configatron.socket.port %>",
      dispatching_websocket_url:     "ws://<%= server_name %><%= is_apache? ? "/websocket" : ":#{configatron.websocket.port}" %>",
      dispatching_websocket_url_ssl: "wss://<%= server_name %><%= is_apache? ? "/websocket" : ":#{configatron.websocket_ssl.port}" %>",
      dispatching_websocket_delimiter: "<%= raw(is_apache? ? "\\0" : "") %>",
      token:                          "<%= current_user.communication_token %>",
      default_avatar:                 "<%= configatron.default_avatar %>",
      admin_ids:                      <%= User.admins.map(&:id).to_json %>,
      user_name:                      "<%= current_user.display_name %>",
      user_id:                        <%= current_user.id %>,
      user_is_stranger:               <%= current_user.stranger?.to_json %>,
      show_only_online_users:         <%= SystemPreferences.show_only_online_users.to_json %>,
      allow_modal_views:              <%= SystemPreferences.allow_modal_views.to_json %>,
      session_id:                     "<%= cookies['_rails_dashboard_session'] %>",
      authenticity_token:             "<%= form_authenticity_token %>",
      channel_name_to_id_mapping:     <%= raw Channel.name_to_id_mapping.to_json %>,
      channel_uuid_to_id_mapping:     <%= raw Channel.uuid_to_id_mapping.merge(current_user.channel_uuid_to_id_mapping).to_json %>,
      server:                         "<%= request.server_software %>",
      incoming_interface:             <%= raw incoming_interface.to_json %>,
      captive_redirect_url:           "<%= session[:captive_redirect_url] %>",
      captive_redirect_only:          <%= SystemPreferences.captive_redirect_only.to_json %>,
      debug_mode:                     <%= (configatron.log_event_notifications.nil? ? false : configatron.log_event_notifications).to_json %>
    };
    
    <%= "var AIRBRAKE_API_KEY = '#{HoptoadNotifier.configuration.api_key}';" if Rails.env.production? %>
  </script>
  <%- if custom_stylesheet -%>
    <%- if SystemPreferences.custom_css_type == "append" -%>
      <%= stylesheet_link_tag(stylesheets, :cache => (configatron.avoid_caching != false), :concat => true) %>
      <%= include_stylesheet_if_exists("/css/pages/#{controller_name}.css") %>
    <%- end -%>
    <%= raw custom_stylesheet %>
  <%- else -%>
    <%= stylesheet_link_tag(stylesheets, :cache => (configatron.avoid_caching != false)) %>
    <%= include_stylesheet_if_exists("/css/pages/#{controller_name}.css") %>
  <%- end -%>
  <%= csrf_meta_tag %>
  <%# Ensure HTML5 support in IE < 9 %>
  <!--[if lt IE 9]>
    <script>
      "abbr article aside audio canvas details figcaption figure footer header hgroup mark meter nav output progress section summary time video".replace(/\w+/g, function(t){ document.createElement(t); });
    </script>
  <![endif]-->
</head>