<%# TODO: this needs to be done smarter %>
<script type="protonet/template" id="meep-template">
  <%= render :partial => 'meeps/meep' %>
</script>
<script type="protonet/template" id="meep-to-merge-template">
  <%= render :partial => 'meeps/meep_to_merge' %>
</script>
<script type="protonet/template" id="text-extension-template">
  <%= render :partial => 'meeps/text_extension' %>
</script>
<script type="protonet/template" id="channel-reply-template">
  <%= render :partial => 'meeps/channel_reply' %>
</script>
<script type="protonet/template" id="user-reply-template">
  <%= render :partial => 'meeps/user_reply' %>
</script>
<script type="protonet/template" id="emoji-template">
  <%= render :partial => 'meeps/emoji' %>
</script>
<script type="protonet/template" id="reply-from-channel-template">
  <%= render :partial => 'meeps/reply_from_channel' %>
</script>
<script type="protonet/template" id="posted-in-channel-template">
  <%= render :partial => 'meeps/posted_in_channel' %>
</script>
<script type="protonet/template" id="meep-status-template">
  <%= render :partial => 'meeps/meep_status' %>
</script>
<script type="protonet/template" id="meep-actions-template">
  <%= render :partial => 'meeps/meep_actions' %>
</script>
<script type="protonet/template" id="admin-flag-template">
  <%= render :partial => 'users/admin_flag' %>
</script>
<script type="protonet/template" id="file-queue-template">
  <%= render :partial => 'files/queue' %>
</script>
<script type="protonet/template" id="file-queue-item-template">
  <%= render :partial => 'files/queue_item' %>
</script>
<style type="protonet/template" id="search-page-template">
  <section class="subpage search-page">
    <%= render :template => 'search/index' %>
    <%= sprockets_include_tag(:search) %>
  </section>
</style>

<%= sprockets_include_tag(:default) %>
<%= sprockets_include_tag(controller_name.to_sym) rescue nil %>
<%= raw("<script>#{SystemPreferences.custom_javascript}</script>") if SystemPreferences.custom_javascript %>
