<table class="user-roles-table">
  <tbody>
    <tr>
      <td></td>
      <td><%= t("users.label_user_with_restricted_rights") %></td>
      <td><%= t("users.label_user_default") %></td>
      <td><%= t("users.label_user_with_administration_rights") %></td>
    </tr>
    <tr>
      <td class="label"><%= t("users.label_write_messages") %></td>
      <td class="yes"></td>
      <td class="yes"></td>
      <td class="yes"></td>
    </tr>
    <tr>
      <td class="label"><%= t("users.label_start_private_chats") %></td>
      <td class="yes"></td>
      <td class="yes"></td>
      <td class="yes"></td>
    </tr>
    <tr>
      <td class="label"><%= t("users.label_upload_files") %></td>
      <td class="yes"></td>
      <td class="yes"></td>
      <td class="yes"></td>
    </tr>
    <tr>
      <td class="label"><%= t("users.label_create_channels") %></td>
      <td class="no"></td>
      <td class="yes"></td>
      <td class="yes"></td>
    </tr>
    <tr>
      <td class="label"><%= t("users.label_subscribe_channels") %></td>
      <td class="no"></td>
      <td class="yes"></td>
      <td class="yes"></td>
    </tr>
    <tr>
      <td class="label"><%= t("users.label_see_all_channels") %></td>
      <td class="no"></td>
      <td class="yes"></td>
      <td class="yes"></td>
    </tr>
    <tr>
      <td class="label"><%= t("users.label_see_all_users") %></td>
      <td class="no"></td>
      <td class="yes"></td>
      <td class="yes"></td>
    </tr>
    <tr>
      <td class="label"><%= t("users.label_delete_users") %></td>
      <td class="no"></td>
      <td class="no"></td>
      <td class="yes"></td>
    </tr>
    <tr>
      <td class="label"><%= t("users.label_invite_people") %></td>
      <td class="no"></td>
      <td class="no"></td>
      <td class="yes"></td>
    </tr>
    <tr>
      <td class="label"><%= t("users.label_administrate") %></td>
      <td class="no"></td>
      <td class="no"></td>
      <td class="yes"></td>
    </tr>
  </tbody>
</table>
<p class="hint"><%= raw(t("users.hint_upload_files")) %></p>