<ul id="user-navigation">
  <li class="welcome">
    <a href="<%= user_path(:id => current_user.id) %>">
      <strong><%=h current_user.display_name %></strong>
      <%= avatar(current_user, :width => 16, :height => 16) %>
    </a>
  </li>
  <%- if current_user.admin? %>
    <li class="admin" tabindex="-1">
      <%= link_to("administration", preferences_path) %>
    </li>
  <%- end %>
  <li class="users" tabindex="-1">
    <%= link_to("users", users_path) %>
  </li>
  <li class="channels" tabindex="-1">
    <%= link_to("channels", channels_path) %>
  </li>
  <li class="settings" tabindex="-1">
    <a>chat settings</a>
  </li>
  <li class="logout" tabindex="-1">
    <%= link_to("logout", destroy_user_session_path, 'data-avoid-ajax' => 1) %>
  </li>
</ul>