<div class="mail">
  <%= public_image_tag("protonet.jpg", :width => 300, :height => 77) %>
  <h1>
    You have been invited to join the protonet of <%= Node.local.name %>.
  </h1>
  <hr>
  <p>
    Hi <%= @invitation.name %>,
  </p>
  <p>
    <%= avatar(@invitation.user, :width => 30, :height => 30, :class => "avatar", :public => true) %>
    <strong><%= @invitation.user.display_name %></strong> wants to collaborate with you. All you need to do is to follow this link and choose a password. It only takes a few seconds.
  </p>

  <p>Once you've signed in you are already subscribed to these channels:</p>
  <ul>
    <%- @invitation.channels.each do |channel| %>
      <li><%= channel.display_name %></li>
    <%- end %>
  </ul>
  <p>Upload an avatar and start collaborating.</p>

  <p>
    <strong>Click this link to get started:</strong><br>
    <%= link_to accept_invitation_url(:invitation_token => @invitation.token, 
        :host => SystemPreferences.public_host, 
        :protocol => SystemPreferences.public_host_https ? 'https://' : 'http://'),
      accept_invitation_url(:invitation_token => @invitation.token, 
        :host => SystemPreferences.public_host, 
        :protocol => SystemPreferences.public_host_https ? 'https://' : 'http://') 
    %>
  </p> 
  <hr>
  <p>
    Protonet, a revolutionary way to collaborate.
  </p>
</div>