<div class="mail">
  <%= public_image_tag("protonet.jpg", :width => 300, :height => 77) %>
  <h1><%= t("invitations.headline_email", :name => Node.local.name) %></h1>
  <hr>
  <p><%= t("invitations.text_1", :name => @invitation.name) %></p>
  <p>
    <%= avatar(@invitation.user, :width => 30, :height => 30, :class => "avatar", :public => true) %>
    <%= raw(t("invitations.text_2", :display_name => @invitation.user.display_name)) %>
  </p>

  <p><%= t("invitations.text_3") %></p>
  <ul>
    <%- @invitation.channels.each do |channel| %>
      <li><%= channel.display_name %></li>
    <%- end %>
  </ul>

  <p>
    <strong><%= t("invitations.text_4") %></strong><br>
    <%= link_to accept_invitation_url(:invitation_token => @invitation.token, 
        :host => SystemPreferences.public_host, 
        :protocol => SystemPreferences.public_host_https ? 'https://' : 'http://'),
      accept_invitation_url(:invitation_token => @invitation.token, 
        :host => SystemPreferences.public_host, 
        :protocol => SystemPreferences.public_host_https ? 'https://' : 'http://') 
    %>
  </p> 
  <hr>
  <p class="footnote"><%= t("invitations.text_5") %></p>
</div>