<li>  
<%- if invitation.invitee %>
  <%= avatar(invitation.invitee, :width => 20, :height => 20) %>
  <%= invitation.email %>
  <strong>(<%= invitation.invitee.login %>)</strong>
  <%= link_to "show invitation", invitation_path(invitation), :class => "action" %>
  <%= link_to "show profile", user_path(invitation.invitee), :class => "action" %>
<%- else %>
  <%= invitation.email %>
  <%= link_to "show invitation", invitation_path(invitation), :class => "action" %>
<%- end %>
</li>