<%= render "shared/nav_users"%>
<output class="content" data-tab="invitations">
  
  <h2>
    Invite people to your protonet <a data-hover-hint="top" title="Only Administrators can do this" class="hint">(?)</a>
    <a href="<%= new_invitation_path %>" class="action-link add">add</a>
  </h2>
  
  <%- if @invitations.any? %>
    <h3 class="belongs-to-list">
      You have invited <%= pluralize(@invitations.count, "User") %>.
    </h3>
    <ul class="list">
      <%= render @invitations %>
    </ul>
  <%- else %>
    <p> 
      There are no invitations.
      <%= link_to "Invite someone.", new_invitation_path %>
    </p>
  <%- end %>
  
</output>
