<%= render "shared/nav_users"%>
<output class="content" data-tab="invitations">
  <%= form_for(@invitation, :html => { "data-type" => 'html' }) do |f| %>
    <h2>Invite people to your protonet <a data-hover-hint="top" title="Only admins can invite people" class="hint">(?)</a></h2>
    
    <%- if !SystemPublishToWeb.status %>
      <div class="form-field">
        <p class="info-message">
          <strong>Please note:</strong>
          Web Publishing is currently <b>not activated</b>. You can enable it <%= link_to "here", "/preferences/show?section=publish_to_web" %>.
        </p>
      </div>
    <%- end %>
    
    <div class="form-field">
      <%= f.label :name, "Name:" %>
      <%= f.text_field(:name, {:autofocus => true}) %>
    </div>
    
    <div class="form-field">
      <%= f.label :email, "E-Mail:" %>
      <%= f.text_field(:email, {:type => "email", :value => @invitee_email || @invitation.email }) %>
    </div>

    <div class="form-field">
      <label>Constrained rights:</label>
      <span>
        <label>
          <%= f.radio_button(:invitee_role, true) %>
          Yes
        </label>
        <label>
          <%= f.radio_button(:invitee_role, false) %>
          No
        </label>
        <a data-hover-hint="top" title="The user (e.g. customer) can only see channels you subscribe him to." class="hint">(?)</a>
      </span>
    </div>
    
    <div class="form-field channels">
     <label for="invitation_channel"> Channels: <a data-hover-hint="top" title="Check channels which the user will be subscribed to." class="hint">(?)</a></label>
      <ul>
      <%- @channels.each do |channel| %>
        <li class="channel-checkboxes">
        <%= check_box_tag "invitation[channel_ids][]", channel.id, @channels.size == 1 || params[:channel_id].to_i == channel.id, :id => dom_id(channel, "invitation") %>
        <%= label_tag dom_id(channel, "invitation"), channel.name, { :class => 'reply channel' } %> <%= raw("<span class='hint'>(from remote node)</span>") unless channel.locally_hosted? %>
        </li>
      <%- end %>
      </ul>
    </div>
    <%= button 'next Step' %>
  <% end %>
</output>
