<%= render "shared/nav_users"%>
<output class="content" data-tab="users">
  <%= form_for(@invitation, :remote => true, :html => { "data-type" => 'html' }) do |f| %>
    <h2>Invite people to your protonet <a data-hover-hint="top" title="Only admins can invite people" class="hint">(?)</a></h2>
    
    <%- if !SystemPublishToWeb.status %>
      <div class="form-field">
        <p class="info-message">
          <strong>Please note:</strong>
          Web Publishing is currently <b>not activated</b>. You can enable it <%= link_to "here", "/preferences/show?section=publish_to_web" %>.
        </p>
      </div>
    <%- end %>
    
    <div class="form-field">
      <%= f.label :first_name, "First name:" %>
      <%= f.text_field(:first_name, {:autofocus => true}) %>
    </div>
    
    <div class="form-field">
      <%= f.label :last_name, "Last name:" %>
      <%= f.text_field(:last_name) %>
    </div>
    
    <div class="form-field">
      <%= f.label :email, "E-Mail:" %>
      <%= f.text_field(:email, {:type => "email", :value => @invitee_email || @invitation.email }) %>
    </div>
    
    <div class="form-field">
      <label>User type:</label>
      <span class="radio-group">
        <label>
          <%= f.radio_button(:role, 'invitee') %> User with restricted rights
          <a data-hover-hint="top" title="<h4>User with restricted rights</h4> Users with restricted rights can only see channels they were susbcribed to (by an administrator). They aren't able to see users from other channels. This user type can be perfectly used for customers or guests that should have limited access." class="hint">(?)</a>
        </label>
        <label>
          <%= f.radio_button(:role, 'user') %> User
          <a data-hover-hint="top" title="<h4>User</h4> Normal users can see all channels and users. They're not allowed to delete users or channels that they didn't create." class="hint">(?)</a>
        </label>
        <label>
          <%= f.radio_button(:role, 'admin') %> Administrator
          <a data-hover-hint="top" title="<h4>Administrator</h4> Users with administration rights can manage channels, other users and system related things." class="hint">(?)</a>
        </label>
        <span class="hint">
          <a id="show-comparison-chart">Learn more</a> about user types and permissions
        </span>
      </span>
    </div>
    
    <div class="form-field channels">

     <label for="invitation_channel">Channels: <a data-hover-hint="top" title="Select channels the user will be subscribed to." class="hint">(?)</a></label>
      <ul>
      <%- @channels.sort_by(&:display_name).each do |channel| %>
        <li class="channel-checkboxes">
          <label class="checkbox-row">
            <%= check_box_tag "invitation[channel_ids][]", channel.id, @channels.size == 1 || params[:channel_id].to_i == channel.id, :id => dom_id(channel, "invitation") %>
            <%= channel.display_name %>
          </label>
        </li>
      <%- end %>
      </ul>
    </div>
    <%= button 'Next step' %>
  <% end %>
  
  <script type="protonet/template" id="user-roles-table-template">
    <%= render :partial => 'shared/user_roles_table' %>
  </script>
</output>
