<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>protonet Dashboard</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Pragma" content="No-cache" />
    <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" charset="utf-8" />
    <script src="/javascript/jquery-1.2.6.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascript/jquery.scrollTo.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascript/application.js" type="text/javascript" charset="utf-8"></script>
    
    <!-- making it nice comes later :) -->
    <script src="/javascript/chat_widget/chat_widget.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascript/chat_widget/inputs/chat_input.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascript/chat_widget/messages/chat_message.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascript/chat_widget/room_selectors/chat_room_selector.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascript/chat_widget/rooms/chat_room.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascript/chat_widget/rooms/chat_room_viewer.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascript/chat_widget/user_lists/chat_user_list.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascript/chat_widget/user_lists/chat_user_list_viewer.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascript/chat_widget/users/chat_users.js" type="text/javascript" charset="utf-8"></script>
    
    
  </head>
  <body>
    <div id="header">
      <img src="/images/logo_transparent_small.gif" width="102" height="20" alt="Logo Transparent Small">
      <h3>yay! welcome <%= current_user.login %></h3>

      <div class="navigation">
        <a href="<%= url(:home) %>">home</a> | 
        <a href="<%= url(:profile, :id => current_user.id) %>">profile</a> | 
        <a href="<%= url(:logout) %>">foo</a> | 
        <a href="<%= url(:logout) %>">bar</a> | 
        <a href="<%= url(:logout) %>">logout</a>
      </div>
    </div>

    <div id="content">
      <%= catch_content :for_layout %>
    </div>

  </body>
</html>

