<output class="content" id="plupload-drop-element">
  <nav class="file-actions">
    <ul>
      <li><a class="play" data-hover-hint="top" title="<%= t("files.hint_play") %>"><%= t("files.link_play") %></a></li>
      <li><a class="upload" id="plupload-browse-button" data-hover-hint="top" title="<%= t("files.hint_upload_files") %>"><%= t("files.link_upload_files") %></a></li>
      <li><a class="new-folder" data-hover-hint="top" title="<%= t("files.hint_new_folder") %>"><%= t("files.link_new_folder") %></a></li>
      <li><a class="share" data-hover-hint="top" title="<%= t("files.hint_share_files") %>"><%= t("files.link_share_files") %></a></li>
      <li><a class="remove" data-hover-hint="top" title="<%= t("files.hint_delete") %>"><%= t("files.link_delete") %></a></li>
    </ul>
  </nav>
  
  <h2><output class="address-bar"><%= params[:path] || "/" %></output></h2>
  
  <div class="table-wrapper">
    <table class="file-list">
      <thead>
        <tr>
          <th class="file-name"><%= t("files.headline_name") %></th>
          <th class="file-modified"><%= t("files.headline_last_modified") %></th>
          <th class="file-size"><%= t("files.headline_size") %></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <output class="file-details"></output>
  </div>
</output>

<script type="protonet/template" id="file-item-template">
  <%= render :partial => 'file' %>
</script>
<script type="protonet/template" id="folder-item-template">
  <%= render :partial => 'folder' %>
</script>
<script type="protonet/template" id="file-details-template">
  <%= render :partial => 'file_details' %>
</script>