<h2>Advanced</h2>
<p class="info-message"><strong>Caution:</strong> These settings are meant for advanced users only, please be careful.</p>
<h3>Captive Portal <a data-hover-hint="top" title="Users need to authenticate before receiving internet access" class="hint">(?)</a></h3>
<%= form_tag system_preferences_update_path, { :remote => true, 'data-type' => 'html' } do -%>
  <%= hidden_field_tag 'section', 'advanced_settings' %>
  <div class="form-field">
    <label>Status:</label>
    <span>
      <label>
        <input type="radio" name="preferences[captive]" value="true" <%= 'checked' if SystemCaptivePortal.status %>>
        On
      </label>
      <label>
        <input type="radio" name="preferences[captive]" value="false" <%= 'checked' unless SystemCaptivePortal.status %>> 
        Off
      </label>
    </span>
  </div>
  <div class="form-field">
    <%= label_tag 'preferences[captive_portal_greeting]', 'Captive greeting:' %>
    <%= text_field_tag 'preferences[captive_portal_greeting]', SystemPreferences.captive_portal_greeting %>
  </div>
  <div class="form-field">
    <%= label_tag 'preferences[captive_authorization_url]', 'Captive authorization URL:' %>
    <%= text_field_tag 'preferences[captive_authorization_url]', SystemPreferences.captive_authorization_url %>
  </div>
  <div class="form-field">
    <%= label_tag 'preferences[captive_external_interface]', 'External IF:' %>
    <%= text_field_tag 'preferences[captive_external_interface]', SystemPreferences.captive_external_interface %>
  </div>
  <div class="form-field">
    <%= label_tag 'preferences[captive_internal_interface]', 'Internal IF:' %>
    <%= text_field_tag 'preferences[captive_internal_interface]', SystemPreferences.captive_internal_interface %>
  </div>
  <div class="form-field">
    <%= label_tag 'preferences[captive_redirection_target]', 'Redirection IP:' %>
    <%= text_field_tag 'preferences[captive_redirection_target]', SystemPreferences.captive_redirection_target %>
  </div>
  <%= button "Save" %>
<%- end -%>

<br>

<%= form_tag "/captive/grant", { :remote => true, 'data-type' => 'html' } do -%>
  <%= hidden_field_tag 'section', 'advanced_settings' %>
  <div class="form-field">
    <%= label_tag 'ip_address', 'Grant access for IP:' %>
    <%= text_field_tag 'ip_address' %>
  </div>
  <%= button "Grant" %>
<%- end -%>

<br>
<%= form_tag "/captive/revoke", { :remote => true, 'data-type' => 'html' } do -%>
  <%= hidden_field_tag 'section', 'advanced_settings' %>
  <div class="form-field">
    <%= label_tag 'ip_address', 'Revoke access for IP:' %>
    <%= text_field_tag 'ip_address' %>
  </div>
  <%= button "Revoke" %>
<%- end -%>

<br>

<%= form_tag "/captive/whitelist_clients", { :remote => true, 'data-type' => 'html' } do -%>
  <%= hidden_field_tag 'section', 'advanced_settings' %>
  <div class="form-field">
    <%= label_tag 'whitelist', 'Whitelisted MACs:' %>
    <%= text_area_tag 'whitelist', SystemPreferences.captive_whitelist_clients.join("\n") %>
  </div>
  <%= button "Save" %>
<%- end -%>

<br>

<%= form_tag "/captive/whitelist_sites", { :remote => true, 'data-type' => 'html' } do -%>
  <%= hidden_field_tag 'section', 'advanced_settings' %>
  <div class="form-field">
    <%= label_tag 'whitelist', 'Whitelisted Sites (IPs):' %>
    <%= text_area_tag 'whitelist', SystemPreferences.captive_whitelist_sites.join("\n") %>
    <a data-hover-hint="top" title="Changing this will require a restart of the captive portal" class="hint">(?)</a>
  </div>
  <%= button "Save" %>
<%- end -%>

<h4>List of users with internet access:</h4>
<%- users = SystemCaptivePortal.list %>
<%- if users.empty? %>
  <p class="hint">No user has currently internet access granted</p>
<%- else -%>
  <p><%= users.join(", ") %></p>
<%- end -%>

<h3>Email Settings <a data-hover-hint="top" title="Allows you to use external SMTP services to send emails" class="hint">(?)</a></h3>
<dl>
  <dt>Currently using:</dt><dd><%= ActionMailer::Base.delivery_method %></dd>
  <% Mailer %>
  <dt>Current base path:</dt><dd><%= "#{SystemPreferences.public_host_https ? 'https' : 'http'}://#{ActionMailer::Base.default_url_options[:host]}" %></dd>
</dl>
<br>
<%= form_tag system_preferences_update_path, {} do -%>
  <%= hidden_field_tag 'section', 'advanced_settings' %>
  <div class="form-field">
    <label>Local email delivery:</label>
    <span>
      <label>
        <input type="radio" name="preferences[local_email_delivery]" value="true" <%= 'checked' if SystemPreferences.local_email_delivery == true %>>
        On
      </label>
      <label>
        <input type="radio" name="preferences[local_email_delivery]" value="false" <%= 'checked' if SystemPreferences.local_email_delivery != true %>> 
        Off
      </label>
      <a title="Turning on local delivery and leaving the SMTP settings empty will make your node use sendmail." data-hover-hint="top" class="hint">(?)</a>
    </span>
  </div>
  <div class="form-field">
    <%= label_tag 'preferences[smtp_address]', 'SMTP Address:' %>
    <%= text_field_tag 'preferences[smtp_address]', SystemPreferences.smtp_address %>
  </div>
  <div class="form-field">
    <%= label_tag 'preferences[smtp_domain]', 'SMTP Domain:' %>
    <%= text_field_tag 'preferences[smtp_domain]', SystemPreferences.smtp_domain %>
  </div>
  <div class="form-field">
    <%= label_tag 'preferences[smtp_username]', 'SMTP Username:' %>
    <%= text_field_tag 'preferences[smtp_username]', SystemPreferences.smtp_username %>
  </div>
  <div class="form-field">
    <%= label_tag 'preferences[smtp_password]', 'SMTP Password:' %>
    <%= password_field_tag 'preferences[smtp_password]', SystemPreferences.smtp_password %>
  </div>
  <%= button "Save" %>
<%- end -%>

<h3>VPN</h3>
<%- vpn_status = SystemVpn.status %>

<%= form_tag preferences_vpn_update_path, { :remote => true, 'data-type' => 'html' }  do %>
  <%= hidden_field_tag 'section', 'advanced_settings' %>
  <dl>
    <dt>VPN type:</dt><dd>n2n</dd>
    <dt>Supernode address:</dt><dd>directory.protonet.info</dd>
    <dt>Node address:</dt><dd>10.0.0.1</dd>
    <dt>Identifier/Community:</dt><dd><%= SystemPreferences.vpn[:identifier] %></dd>
    <dt>Password/Encryption key:</dt><dd><%= SystemPreferences.vpn[:password] %></dd>
  </dl>
  <br>
  <div class="form-field">
    <label>Status:</label>
    <span>
      <label><input type="radio" name="vpn_status" value="true" <%= "checked" if vpn_status %>> On</label>
      <label><input type="radio" name="vpn_status" value="false" <%= "checked" unless vpn_status %>> Off</label>
    </span>
  </div>
  <%= button "Save" %>
<%- end %>


<h3>Execute JavaScript <a data-hover-hint="top" title="Execute script code on one or all online users - don't be evil" class="hint">(?)</a></h3>
<%= form_tag "/users/send_javascript", { :remote => true, 'data-type' => 'html' } do -%>
  <%= hidden_field_tag 'section', 'notifications' %>
  <%= hidden_field_tag 'id', current_user.id %>
  <div class="form-field">
    <%= label_tag 'target', 'Target:' %>
    A specific user  <%= text_field_tag 'target', nil, { :placeholder => "Id or name" } %> or all online users <%= check_box_tag 'target_all', true %>
  </div>
  <div class="form-field">
    <%= label_tag 'javascript', 'Script code:' %>
    <%= text_field_tag 'javascript', nil, :placeholder => 'eg. location.reload()' %>
  </div>
  <%= button "Send" %>
<%- end %>

<h3>Enable Experimental App Manager <a data-hover-hint="top" title="The App Manager IS EXPERIMENTAL! Don't activate it unless you know what you are doing..." class="hint">(?)</a></h3>
<%= form_tag system_preferences_update_path, { :remote => true, 'data-type' => 'html' }  do %>
  <%= hidden_field_tag 'section', 'advanced_settings' %>
  <strong>You need to reload the administration section to see the App Manager tab!</strong>
  <div class="form-field">
    <label>Enable App Manager:</label>
    <span>
      <label><input type="radio" name="preferences[app_manager]" value="true" <%= "checked" if SystemPreferences.app_manager %>> On</label>
      <label><input type="radio" name="preferences[app_manager]" value="false" <%= "checked" unless SystemPreferences.app_manager %>> Off</label>
    </span>
  </div>
  <%= button "Save" %>
<%- end %>

