<h2>Apps</h2>
<p>Install third party apps on your node.</p>

<h3>Applications</h3>
<ul class="collapsable-list">
  <%- App.available_apps.sort_by(&:display_name).each do |app| -%>
    <li>
      <h4 class="headline" onclick="$('#details-app-<%= app.key %>').toggle()"><%= app.display_name %><%= " (installed)" if app.installed? -%></h4>
      <div class="details" id="details-app-<%= app.key %>" style="display:none">
        <%- unless app.description.blank? -%>
          <p><strong>Description:</strong> <%= app.description %></p>
        <%- end -%>
        <%- unless app.homepage.blank? -%>
          <p><strong>Homepage:</strong> <a href="<%= app.homepage %>" target="_blank"><%= app.homepage %></a></p>
        <%- end -%>
        <%- if app.installed? -%>
          <%= form_tag preferences_uninstall_app_path,{ :remote => true, 'data-type' => 'html', :class => "app-uninstall"} do -%>
              <%= hidden_field_tag 'app[key]', app.key %>
              <div class="form-field">
                <label for="app_configuration_password">Your node root password:</label>
                <%= password_field_tag "app[password]", '' %>
              </div>
              <button>uninstall</button>
          <%- end -%>
        <%- else -%>
          <%= form_tag preferences_install_app_path,{ :remote => true, 'data-type' => 'html', :class => "app-installation"} do -%>
            <%= hidden_field_tag 'app[key]', app.key %>
            <%- app.configuration_requirements.each_pair do |key, description| -%>
              <div class="form-field">
                <label for="app_configuration_<%= key %>"><%= description %></label>
                <%- if key.to_s.include?('password') -%>
                  <%= password_field_tag "app[configuration][#{key}]", '' %>
                <%- else -%>
                  <%= text_field_tag "app[configuration][#{key}]", '' %>
                <%- end -%>
                <a data-hover-hint="top" class="hint" title="<%= description %>">(?)</a>
              </div>
            <%- end -%>
            <div class="form-field">
              <label for="app_configuration_password">Your node root password:</label>
              <%= password_field_tag "app[password]", '' %>
            </div>
            <button>install</button>
          <%- end -%>
        <%- end -%>
      </div>
      
    </li>
  <%- end -%>
</ul>

<h3>Custom App Sources</h3>
<p>
  Configure the sources to get the app definitions from.
  <%= link_to 'refresh all sources', refresh_all_preferences_app_sources_path, {:method => :put, :remote => true, 'data-type' => 'html'} %>
</p>

<ul class="collapsable-list">
  <%- AppSource.order("title ASC").all.each do |app_source| -%>
    <li>
      <h4 class="headline" onclick="$('#details-app-source-<%= app_source.id %>').toggle()"><%= app_source.title %> (updated: <%= l(app_source.updated_at, :format => :short) %><%= ", has errors" if app_source.has_errors? %>)</h4>
      <div id="details-app-source-<%= app_source.id %>" class="details" style="display:none">
        <p>
          Url: <%= app_source.url %>
          <%= link_to 'delete this source', preferences_app_source_path(app_source), {:method => :delete, :remote => true, 'data-type' => 'html'} %>
        </p>
        <%- if app_source.has_errors? -%>
          <h5>This source has errors: <%= app_source.error_message %></h5>
          <%- if app_source.parser_error? -%>
            <p><%= app_source.parser_error %></p>
          <%- end -%>
        <%- else -%>
          <h5>Applications provided by this source:</h5>
          <ol>
            <%- app_source.application_titles.each do |title| -%>
              <li>
                <%= title %>
              </li>
            <%- end -%>
          </ol>
        <%- end -%>
      </div>
    <li>
  <%- end -%>
</ul>
<h4>Add a new Source</h4>
<%= form_for [:preferences, AppSource.new], :remote => true, :html => { 'data-type' => 'html', :class => "app-source-create"} do |f| %>
  <div class="form-field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="form-field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  <button>add</button>
<%- end -%>



