<table id="net-interfaces">
  <tr>
    <th>Interface</th>
    <th>Type</th>
    <th>IPv4</th>
    <th>IPv6</th>
    <th>Rx</th>
    <th>Tx</th>
  </tr>
<% SystemBackend.get_interfaces.each do |interface| -%>
  <tr>
    <td><%=link_to h(interface.name), :controller => 'preferences', :action => 'interface', :id => interface.name %></td>
    <td><%=h interface.type %></td>
    <td><%=h interface.addresses('inet') %></td>
    <td><%=h interface.addresses('inet6') %></td>
    <td><%=h interface.rx["packets"] %></td>
    <td><%=h interface.tx["packets"] %></td>
  </tr>
<% end -%>
</table>

<script type="text/javascript">
  $("#net-interfaces a").click(function(event){
    $("#preferences-details").load(event.currentTarget.href);
    return false;
  });
</script>
