<div id="system-settings">

  <%= form_for @node, :url => {:controller => 'preferences', :action => 'node_settings'} do |f| -%>
    <fieldset>
      <legend>
        <strong>Node Settings</strong>
        <span>are used by remote nodes, and allows users to tell which node is which.</span>
      </legend>
      <ul>
        <li>Your nodes UUID: <%= @node.uuid %></li>
        <li><%= error_messages_for :network, :header_tag => 'h3' %></li>
        <li>
          <%= f.label :name %>
          <%= f.text_field :name %>
        </li>
        <li>
          <%= f.label :description %>
          <%= f.text_field :description %>
        </li>
        <li>
          <%= f.label :supernode %>
          <%= f.text_field :supernode %>
        </li>
      </ul>
    </fieldset>
    <button type="submit">
      <span>
        <em>Update</em>
      </span>
    </button>
  <%- end -%>

  <%= form_tag system_preferences_update_path do -%>
    <fieldset>
      <legend>
        <strong>System Settings</strong>
      </legend>
      <ul>
        <li>
          <%= label_tag 'preferences[public_host]', 'Public Host' %>
          <%= text_field_tag 'preferences[public_host]', SystemPreferences.public_host %>
        </li>
        <li>
          Public Host Protocol
          <%= label_tag 'preferences[public_host_protocol]', 'HTTP' %>
          <%= radio_button_tag 'preferences[public_host_https]', false, !SystemPreferences.public_host_https %>
          <%= label_tag 'preferences[public_host_protocol]', 'HTTPS' %>
          <%= radio_button_tag 'preferences[public_host_https]', true,  SystemPreferences.public_host_https %>
        </li>
      </ul>
    </fieldset>
    <button type="submit">
      <span>
        <em>Update</em>
      </span>
    </button>
  <%- end -%>

  <%= form_tag system_preferences_update_path do -%>
    <%= hidden_field_tag(:anchor, 'node_settings') %>
    <fieldset>
      <legend>
        <strong>Publish to WEB! BAHAMMMM!</strong>
      </legend>
      <ul>
        <li>
          <%= label_tag 'preferences[publish_to_web_name]', 'public name (under what address can your node be reached for the outside)' %>
          <%= text_field_tag 'preferences[publish_to_web_name]', SystemPreferences.publish_to_web_name, :disabled => SystemPublishToWeb.status %>.protonet.info
        </li>
        <li>
          Publish to web
          <%= label_tag 'preferences[publish_to_web]', 'OFF' %>
          <%= radio_button_tag 'preferences[publish_to_web]', false, !SystemPublishToWeb.status %>
          <%= label_tag 'preferences[publish_to_web]', 'ON' %>
          <%= radio_button_tag 'preferences[publish_to_web]', true, SystemPublishToWeb.status %>
        </li>
      </ul>
    </fieldset>
    <button type="submit">
      <span>
        <em>Update</em>
      </span>
    </button>
  <%- end -%>
  
  <%= form_tag system_preferences_update_path do -%>
    <fieldset>
      <legend>
        <strong>CSS Overwrite</strong>
      </legend>
      <ul>
        <li>
          <%= hidden_field_tag 'anchor', 'node_settings'  %>
          <%= label_tag 'preferences[overwrite_css]', 'Your CSS' %>
          <%= text_area_tag 'preferences[overwrite_css]', SystemPreferences.overwrite_css, {:rows => 7, :cols => 55} %>
        </li>
      </ul>
    </fieldset>
    <button type="submit">
      <span>
        <em>Update</em>
      </span>
    </button>
  <%- end -%>
  
  <%= form_tag system_preferences_update_path do -%>
    <%= return_anchor_path %>
    <fieldset>
      <legend>
        <strong>White-Label Settings</strong>
      </legend>
      <ul>
        <li>
          <%= label_tag 'preferences[browser_title]', 'Browser Title' %>
          <%= text_field_tag 'preferences[browser_title]', nil, :title => SystemPreferences.browser_title %>
        </li>
        <li>
          <%= hidden_field_tag 'preferences[show_user_navigation]', false, {:id => nil}  %>
          <%= label_tag 'preferences[show_user_navigation]', 'Show user navigation?' %> <%= check_box_tag 'preferences[show_user_navigation]', true, SystemPreferences.show_user_navigation %>
        </li>
        <li>
          <%= hidden_field_tag 'preferences[show_clouds]', false, {:id => nil}  %>
          <%= label_tag 'preferences[show_clouds]', 'Show clouds?' %> <%= check_box_tag 'preferences[show_clouds]', true, SystemPreferences.show_clouds %>
        </li>
        <li>
          <%= hidden_field_tag 'preferences[show_search_widget]', false, {:id => nil}  %>
          <%= label_tag 'preferences[show_search_widget]', 'Show search widget?' %> <%= check_box_tag 'preferences[show_search_widget]', true, SystemPreferences.show_search_widget %>
        </li>
        <li>
          <%= hidden_field_tag 'preferences[show_user_widget]', false, {:id => nil}  %>
          <%= label_tag 'preferences[show_user_widget]', 'Show user widget?' %> <%= check_box_tag 'preferences[show_user_widget]', true, SystemPreferences.show_user_widget %>
        </li>
        <li>
          <%= hidden_field_tag 'preferences[show_file_widget]', false, {:id => nil}  %>
          <%= label_tag 'preferences[show_file_widget]', 'Show file widget?' %> <%= check_box_tag 'preferences[show_file_widget]', true, SystemPreferences.show_file_widget %>
        </li>
        <li>
          <%= hidden_field_tag 'preferences[show_only_online_users]', false, {:id => nil}  %>
          <%= label_tag 'preferences[show_only_online_users]', 'Show only online users?' %> <%= check_box_tag 'preferences[show_only_online_users]', true, SystemPreferences.show_only_online_users %>
        </li>
        <li>
          <%= hidden_field_tag 'preferences[allow_modal_views]', false, {:id => nil}  %>
          <%= label_tag 'preferences[allow_modal_views]', 'Allow modal views?' %> <%= check_box_tag 'preferences[allow_modal_views]', true, SystemPreferences.allow_modal_views %>
        </li>
      </ul>
    </fieldset>
    <button type="submit">
      <span>
        <em>Update</em>
      </span>
    </button>
  <%- end -%>
  
  <%= form_tag system_preferences_update_path do -%>
    <%= return_anchor_path %>
    <fieldset>
      <legend>
        <strong>User Settings</strong>
      </legend>
      <ul>
        <li>
          Default user group on sign-up
          <%= select_tag 'preferences[default_user_group]', options_from_collection_for_select(Role.where("title != 'admin'").all, 'title', 'title', SystemPreferences.default_registered_user_group) %>
        </li>
        <li>
          Default stranger group on visit
          <%= select_tag 'preferences[default_user_group]', options_from_collection_for_select(Role.where("title != 'admin'").all, 'title', 'title', SystemPreferences.default_stranger_user_group) %>
        </li>
      </ul>
    </fieldset>
    <button type="submit">
      <span>
        <em>Update</em>
      </span>
    </button>
  <%- end -%>
  
  
</div>