<div id="system-settings">

  <%= form_for @node, :url => {:controller => 'preferences', :action => 'node_settings'} do |f| -%>
    <fieldset>
      <legend>
        <strong>Node Settings</strong>
        <span>are used by remote nodes, and allows users to tell which node is which.</span>
      </legend>
      <ul>
        <li>Your nodes UUID: <%= @node.uuid %></li>
        <li><%= error_messages_for :network, :header_tag => 'h3' %></li>
        <li>
          <%= f.label :name %>
          <%= f.text_field :name %>
        </li>
        <li>
          <%= f.label :description %>
          <%= f.text_field :description %>
        </li>
        <li>
          <%= f.label :supernode %>
          <%= f.text_field :supernode %>
        </li>
      </ul>
    </fieldset>
    <button type="submit">
      <span>
        <em>Update</em>
      </span>
    </button>
  <%- end -%>

  <%= form_tag system_preferences_update_path do -%>
    <fieldset>
      <legend>
        <strong>System Settings</strong>
      </legend>
      <ul>
        <li>
          <%= label_tag 'preferences[public_host]', 'Public Host' %>
          <%= text_field_tag 'preferences[public_host]', SystemPreferences.public_host %>
        </li>
        <li>
          Public Host Protocol
          <%= label_tag 'preferences[public_host_protocol]', 'HTTP' %>
          <%= radio_button_tag 'preferences[public_host_https]', false, !SystemPreferences.public_host_https %>
          <%= label_tag 'preferences[public_host_protocol]', 'HTTPS' %>
          <%= radio_button_tag 'preferences[public_host_https]', true,  SystemPreferences.public_host_https %>
        </li>
      </ul>
    </fieldset>
    <button type="submit">
      <span>
        <em>Update</em>
      </span>
    </button>
  <%- end -%>

  <%= form_tag system_preferences_update_path do -%>
    <%= hidden_field_tag(:anchor, 'node_settings') %>
    <fieldset>
      <legend>
        <strong>Publish to WEB! BAHAMMMM!</strong>
      </legend>
      <ul>
        <li>
          <%= label_tag 'preferences[publish_to_web_name]', 'public name (under what address can your node be reached for the outside)' %>
          <%= text_field_tag 'preferences[publish_to_web_name]', SystemPreferences.publish_to_web_name, :disabled => SystemPublishToWeb.status %>.protonet.info
        </li>
        <li>
          Publish to web
          <%= label_tag 'preferences[publish_to_web]', 'OFF' %>
          <%= radio_button_tag 'preferences[publish_to_web]', false, !SystemPublishToWeb.status %>
          <%= label_tag 'preferences[publish_to_web]', 'ON' %>
          <%= radio_button_tag 'preferences[publish_to_web]', true, SystemPublishToWeb.status %>
        </li>
      </ul>
    </fieldset>
    <button type="submit">
      <span>
        <em>Update</em>
      </span>
    </button>
  <%- end -%>
  
  <%= form_tag system_preferences_update_path do -%>
    <fieldset>
      <legend>
        <strong>CSS Overwrite</strong>
      </legend>
      <ul>
        <li>
          <%= label_tag 'preferences[overwrite_css]', 'Your CSS' %>
          <%= text_area_tag 'preferences[overwrite_css]', SystemPreferences.overwrite_css, {:rows => 7, :cols => 55} %>
        </li>
      </ul>
    </fieldset>
    <button type="submit">
      <span>
        <em>Update</em>
      </span>
    </button>
  <%- end -%>
  
  
</div>