<%- local_node = Node.local %>

<h2>Node</h2>

<h3>Settings</h3>
<p class="info-message">
  <strong>Please note:</strong> Changing the node's name will also change the name of the WLAN and cause a restart.
  <%- if incoming_interface.starts_with? "wlan" %>
    <br>You will have to manually reconnect your WLAN.
  <%- end %>
</p>
<%= form_for local_node, :remote => true, 'data-type' => 'html' do |f| %>
  <div class="form-field">
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name, :placeholder => "Please enter a name", :maxlength => 32 %>
    <a data-hover-hint="top" title="The name can only consist of letters, numbers and hyphens (no whitespace allowed)." class="hint">(?)</a>
  </div>
  <%= button "Save" %>  <span class="loading-hint">Please wait. This will take a moment.</span>
<%- end %>

<h3>Info</h3>
<dl>
  <dt>Assigned IP:</dt><dd><%= SystemBackend.get_own_ip("eth0") || SystemBackend.get_own_ip("eth1") %> <a data-hover-hint="top" title="Current assigned IP on ethernet connection" class="hint">(?)</a></dd>
  <dt>License key:</dt><dd><%= SystemBackend.license_key %></dd>
  <dt>UUID:</dt><dd><%= Network.local.uuid %> <a class="hint" data-hover-hint="top" title="This is your node's unique id">(?)</a></dd>
</dl>

<h3>Support</h3>
<dl>
  <dt>Support via E-Mail:</dt><dd><a href="mailto:team@protonet.info">team@protonet.info</a></dd>
  <dt>Support via Twitter:</dt><dd><a href="http://twitter.com/protonet" target="_blank">twitter.com/protonet</a></dd>
  <dt>Website:</dt><dd><a href="http://www.protonet.info" target="_blank">protonet.info</a></dd>
</dl>