<h2><%= t("preferences.headline_privacy") %></h2>

<p><%= t("preferences.text_privacy") %></p>

<p class="info-message">
  <%= raw(t("preferences.hint_privacy", :interface => incoming_interface)) %>
</p>

<%- network_interfaces.each do |interface| %>
  <h3><%= raw(network_interface_description(interface)) %></h3>
  <%= form_tag(preferences_privacy_update_path, { 'data-ajax-auto-submit' => '1' }) do %>
    <%= hidden_field_tag 'section', 'publish_to_web' %>
    <%= hidden_field_tag 'interface', interface  %>
    <%= hidden_field_tag 'preferences[allow_dashboard_for_strangers]', false  %>
    <label class="checkbox-row">
      <%= check_box_tag 'preferences[allow_dashboard_for_strangers]', true, (SystemPreferences.privacy[interface]["allow_dashboard_for_strangers"] rescue false) %>
      <%= raw(t("preferences.label_privacy_home_channel", :display_name => Channel.home.display_name)) %>
    </label>
  <%- end %>
  <%= form_tag(preferences_privacy_update_path, { 'data-ajax-auto-submit' => '1' }) do %>
    <%= hidden_field_tag 'section', 'publish_to_web' %>
    <%= hidden_field_tag 'interface', interface  %>
    <%= hidden_field_tag 'preferences[allow_registrations_for_strangers]', false  %>
    <label class="checkbox-row">
      <%= check_box_tag 'preferences[allow_registrations_for_strangers]', true, (SystemPreferences.privacy[interface]["allow_registrations_for_strangers"] rescue false) %>
      <%= t("preferences.label_privacy_sign_up") %>
    </label>
  <%- end %>
<%- end %>