<h2>Privacy</h2>

<p>
  Here you can configure what your users are allowed to do depending on which network interface they are coming from.
</p>

<p class="info-message">
  You are currently accessing protonet via network interface "<strong><%= incoming_interface %></strong>".
</p>

<%- network_interfaces.each do |interface| %>
  <h3><%= raw(network_interface_description(interface)) %></h3>
  <%= form_tag(preferences_privacy_update_path, { 'data-ajax-auto-submit' => '1' }) do %>
    <%= hidden_field_tag 'section', 'publish_to_web' %>
    <%= hidden_field_tag 'interface', interface  %>
    <%= hidden_field_tag 'preferences[allow_dashboard_for_strangers]', false  %>
    <label class="checkbox-row">
      <%= check_box_tag 'preferences[allow_dashboard_for_strangers]', true, (SystemPreferences.privacy[interface]["allow_dashboard_for_strangers"] rescue false) %> Non-members can chat
    </label>
  <%- end %>
  <%= form_tag(preferences_privacy_update_path, { 'data-ajax-auto-submit' => '1' }) do %>
    <%= hidden_field_tag 'section', 'publish_to_web' %>
    <%= hidden_field_tag 'interface', interface  %>
    <%= hidden_field_tag 'preferences[allow_registrations_for_strangers]', false  %>
    <label class="checkbox-row">
      <%= check_box_tag 'preferences[allow_registrations_for_strangers]', true, (SystemPreferences.privacy[interface]["allow_registrations_for_strangers"] rescue false) %>
      Non-members can register (without invitation) 
    </label>
  <%- end %>
<%- end %>