<p>
  <%= avatar(current_user, :width => 36, :height => 36) %>
</p>
<p>
  <b>Name:</b>
  <%=h current_user.display_name %>
</p>
<br>

<h4>Change user image:</h4>
<button onclick="$('#avatar-upload').toggle()">change user image</button>
<div id="avatar-upload" style="display:none;">
  <%= form_tag images_avatars_path, :multipart => true do %>
    <p>
      <b>Upload Image</b><br />
      <%= file_field_tag :avatar_file %>
    </p>
    <p>
      <%= submit_tag "Upload" %>
    </p>
  <% end %>
</div>

<br>
<br>
<%- unless SystemPreferences.remote_ldap_sign_on == true -%>
<h4>Change your password:</h4>
  <%= error_messages_for @user %>

  <%= form_tag({:action => 'change_password', :controller => 'users'}, :id => 'change-password') do %>
    <%= hidden_field_tag      :id, current_user.id %>
    <%= label_tag      :current_password,          'Current password:' %>&nbsp;
    <%= password_field_tag :current_password, nil %><br>
    <%= label_tag      :password,              'New password:' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= password_field_tag :password, nil %><br>
    <%= label_tag      :password_confirmation, 'Confirm password:' %>&nbsp;
    <%= password_field_tag :password_confirmation, nil %><br>
    <%= button "change password" %>
  <% end %>
<%- end -%>

<%= render :partial => "/users/user_basic_data_form", :locals => {:user => current_user, :anchor => 'profile'} %>

<%- if current_user.admin? -%>
<h4>Admin status:</h4>
<p>congrats bro! you're an ADMIN! Check out your users <%= link_to 'here', :controller => :users, :action => :index %>.</p>  
<%- end -%>

<%- unless SystemPreferences.admin_set -%>
<h4>Admin status:</h4>
<p>
  Enter admin key to become an admin, this can only be done once from the command-line (rake reset_admin_key):
  <%= form_tag({:action => 'request_admin_flag', :controller => 'users'}, :id => 'admin-request') do %>
    <%= text_field_tag :key, nil, :size => 16, :maxlength => 16 %>
    <%= button "submit" %>
  <% end %>
</p>
<%- end -%>