<h2><%= t("preferences.headline_web_publishing") %></h2>
<div class="status-box publish-to-web">
  <%= @nofetch = true; render :partial => 'preferences/publish_to_web/status' %>
</div>

<p><%= t("preferences.text_web_publishing") %></p>

<h3><%= t("preferences.headline_web_publishing_settings") %></h3>
<%- if incoming_interface == "published_to_web" %>
  <p class="info-message">
    <strong><%= t("headline_please_note") %></strong>
    <%= raw(t("preferences.hint_web_publishing")) %>
  </p>
<%- end %>
<%= form_tag preferences_publish_to_web_update_path, { :remote => true, 'data-type' => 'html', :class => 'publish-to-web' } do -%>
  <%= hidden_field_tag(:section, 'publish_to_web') %>
  <div class="form-field">
    <%= label_tag 'preferences[publish_to_web_name]', t("preferences.label_url") %>
    https:// <%= text_field_tag 'preferences[publish_to_web_name]', SystemPreferences.publish_to_web_name, :maxlength => 32 %>.protonet.info <a title="<%= t("preferences.hint_web_address") %>" data-hover-hint="top" class="hint">(?)</a>
  </div>
  <div class="form-field">
    <%= label_tag 'preferences[publish_to_web]', t("preferences.label_status") %>
    <span>
      <label>
        <input type="radio" name="preferences[publish_to_web]" value="true" <%= "checked" if SystemPreferences.publish_to_web %>>
        <%= t("label_on") %>
      </label>
      <label>
        <input type="radio" name="preferences[publish_to_web]" value="false" <%= "checked" unless SystemPreferences.publish_to_web %>>
        <%= t("label_off") %>
      </label>
    </span>
  </div>
  <%= button t("label_save") %>
<%- end -%>
