<h2>Publish to web</h2>
<div class="status-box publish-to-web">
  <%= @nofetch = true; render :partial => 'preferences/publish_to_web/status' %>
</div>
<p>Make your node available to the entire world not just your local network.</p>
<%- if incoming_interface == "published_to_web" %>
  <p class="info-message">
    <strong>Please note:</strong> You are currently connected via <i>Publish to web</i>. If you now shutdown or rename it, you will lose connection.</strong>
  </p>
<%- end %>
<%= form_tag preferences_publish_to_web_update_path, { :remote => true, 'data-type' => 'html', :class => 'publish-to-web' } do -%>
  <%= hidden_field_tag(:section, 'publish_to_web') %>
  <div class="form-field">
    <%= label_tag 'preferences[publish_to_web_name]', 'URL:' %>
    https:// <%= text_field_tag 'preferences[publish_to_web_name]', SystemPreferences.publish_to_web_name %>.protonet.info <a title="This is your node's external web address. Feel free to change it." data-hover-hint="top" class="hint">(?)</a>
  </div>
  <div class="form-field">
    <%= label_tag 'preferences[publish_to_web]', 'Status:' %>
    <span>
      <label>
        <input type="radio" name="preferences[publish_to_web]" value="true" <%= "checked" if SystemPublishToWeb.status %>>
        On
      </label>
      <label>
        <input type="radio" name="preferences[publish_to_web]" value="false" <%= "checked" unless SystemPublishToWeb.status %>>
        Off
      </label>
    </span>
  </div>
  <%= button "Save" %>
<%- end -%>

<h3>Privacy settings</h3>
<p>Non-members coming via <i><%= SystemPreferences.publish_to_web_name %>.protonet.info</i> ...</p>
<%= form_tag(preferences_privacy_update_path, { 'data-ajax-auto-submit' => '1' }) do %>
  <%= hidden_field_tag 'section', 'publish_to_web' %>
  <%= hidden_field_tag 'interface', 'published_to_web'  %>
  <%= hidden_field_tag 'preferences[allow_dashboard_for_strangers]', false  %>
  <label class="checkbox-row">
    <%= check_box_tag 'preferences[allow_dashboard_for_strangers]', true, (SystemPreferences.privacy['published_to_web']["allow_dashboard_for_strangers"] rescue false) %> can chat without registering
  </label>
<%- end %>
<%= form_tag(preferences_privacy_update_path, { 'data-ajax-auto-submit' => '1' }) do %>
  <%= hidden_field_tag 'section', 'publish_to_web' %>
  <%= hidden_field_tag 'interface', 'published_to_web'  %>
  <%= hidden_field_tag 'preferences[allow_registrations_for_strangers]', false  %>
  <label class="checkbox-row">
    <%= check_box_tag 'preferences[allow_registrations_for_strangers]', true, (SystemPreferences.privacy['published_to_web']["allow_registrations_for_strangers"] rescue false) %> can register
  </label>
<%- end %>

<h3>Promote your published node</h3>
<p>You can easily <%= link_to "invite people", new_invitation_path, :class => 'promotion-link' %> from the outside to collaborate with you.</p>
