<h2>Updates</h2>
<p>Here you can update your node's software with just one click.</p>

<dl>
  <dt>Current version:</dt><dd><%= SystemRelease.current_version %>/<%= SystemRelease.current_type %></dd>
  <dt>Latest stable version:</dt><dd><%= SystemRelease.latest_version %></dd>
  <dt>Latest beta version:</dt><dd><%= SystemRelease.latest_beta_version %> <a class="hint" data-hover-hint="top" title="Please note that beta software may be unstable">(?)</a></dd>
  <dt>Stable update available:</dt><dd><%= raw(SystemRelease.most_recent? ? '<span class="off">no</span>' : '<span class="on">yes</span>') %></dd>
</dl>

<h3>Update to newer version</h3>
<%= form_tag(preferences_release_update_path, { :remote => true, 'data-type' => 'html', :class => "software-update" }) do %>
  <%= hidden_field_tag 'section', 'software_updates' %>
  <div class="form-field">
    <%= label_tag          :password, 'Your node password:' %>
    <%= password_field_tag :password, nil %>
  </div>
  <div class="form-field">
    <%= label_tag   :release, 'Select version:' %>
    <%= select_tag  :release, options_for_select(SystemRelease.last_releases.reverse.map{|c| ["#{c[0]} / #{c[1]}", c[0]] if c[0].to_i >= SystemRelease.current_version}.compact, SystemRelease.last_releases.reverse.find {|release| release[1].strip! == "STABLE"}[0]) %>
  </div>
  <%= button "Update" %> <span class="loading-hint">Please wait. This will take a few minutes.</span>
<%- end %>
