<h2>VPN</h2>
<%- vpn_status = SystemVpn.status %>
<p>You can access your protonet network via VPN. Here you can start/stop the VPN service.</p>

<%= form_tag preferences_vpn_update_path, { :remote => true, 'data-type' => 'html' }  do %>
  <%= hidden_field_tag 'section', 'vpn_settings' %>
  <div class="form-field short">
    <label>Status:</label>
    <span>
      <label><input type="radio" name="vpn_status" value="true" <%= "checked" if vpn_status %>> On</label>
      <label><input type="radio" name="vpn_status" value="false" <%= "checked" unless vpn_status %>> Off</label>
    </span>
  </div>
  <%= button "Save" %>
<%- end %>

<h3>Info</h3>
<dl>
  <dt>VPN type:</dt><dd>n2n</dd>
  <dt>Supernode address:</dt><dd>directory.protonet.info</dd>
  <dt>Node address:</dt><dd>10.0.0.1</dd>
  <dt>Identifier/Community:</dt><dd><%= SystemPreferences.vpn[:identifier] %></dd>
  <dt>Password/Encryption key:</dt><dd><%= SystemPreferences.vpn[:password] %></dd>
</dl>
