<div id="vpn-settings">
  <p style="font-weight: bold; padding-bottom: 5px;">VPN is <span class="status"><%= SystemVpn.status %></span></p>
  <p>
    VPN identifier is <%= SystemPreferences.vpn[:identifier] %><br>
    VPN password is <%= SystemPreferences.vpn[:password] %><br>
    Your nodes VPN address is: 10.0.0.1
  </p>
<br>
  <p>
    <%= link_to 'on', preferences_vpn_on_path %><br>
    <%= link_to 'off', preferences_vpn_off_path %>
  </p>
  
</div>
