<p>Current config:</p>
<br>
<pre style="background:white;font-size:10px;">
<%= SystemWifi.config %>
</pre>
<br>
<p>Iptables ready: <bold><%= SystemNetworking.iptables_rules_ready? %></bold></p>
<br>

<h2>Wifi settings:</h2>
<%= form_tag(preferences_wifi_update_path, {:id => 'detailed-wifi-setting', :style => 'margin-bottom:0px;'}) do %>
  <%= hidden_field_tag 'anchor', 'wifi_settings'  %>
  <% {"private" => "wlan0", "public" => "wlan1"}.each do |type, interface| %>
    <h3><%= type %>(<%= interface %>)</h3>
    <p>Status: <bold><%= SystemWifi.status(interface) %></bold></p>
    <div>
      <%= label_tag "preferences[wifi][#{interface}]", 'OFF' %>
      <%= radio_button_tag "preferences[wifi][#{interface}]", false, !SystemWifi.status(interface) %>
      <%= label_tag "preferences[wifi][#{interface}]", 'ON' %>
      <%= radio_button_tag "preferences[wifi][#{interface}]", true, SystemWifi.status(interface) %>
    </div>
    
    <p>Password:</p>
    <div>
      <%= text_field_tag "preferences[password][#{interface}]", SystemPreferences.wifi[interface]["password"], {:size => 12, :title => "password (empty for unsecured)"} %>
    </div>
    <p>Share internet Connection: <bold><%= false && SystemConnectionSharing.status(interface) %></bold></p>
    <div>
      <%= label_tag "preferences[sharing][#{interface}]", 'OFF' %>
      <%= radio_button_tag "preferences[sharing][#{interface}]", false, !SystemConnectionSharing.status(interface) %>
      <%= label_tag "preferences[sharing][#{interface}]", 'ON' %>
      <%= radio_button_tag "preferences[sharing][#{interface}]", true, SystemConnectionSharing.status(interface) %>
    </div><br>
  <% end %>
  <%= button("update") %>
<% end %>

<h3>Old Stuff</h3>
<p>Status: <bold><%= SystemWifi.status('foobar') %></bold></p>
<p>
  <%= link_to 'on', preferences_wifi_on_path %><br>
  <%= link_to 'off', preferences_wifi_off_path %>
</p>
<br>

 