<%- if @preferences.empty? %>
  <p class="hint"><%= t("preferences.hint_no_preferences_available") %></p>
<%- else -%>
  <aside>
    <ul>
      <%- @preferences.each do |preference| %>
        <li class="<%= 'selected' if current_section?(preference[:section]) %>">
          <a href="/preferences/show?section=<%= preference[:section] %>">
            <strong><%= preference[:name] %></strong>
          </a>
        </li>
      <%- end %>
    </ul>
  </aside>
  <output data-tab="preferences" class="content">
    <%- if @selected_section %>
      <%= render :partial => @selected_section %>
    <%- else %>
      <h2><%= t("preferences.headline_administration") %></h2>
      <p class="hint"><%= raw(t("preferences.text_administration", :users_path => users_path, :channels_path => channels_path)) %></p>
    <%- end %>
  </output>
<%- end %>