<%- if session[:captive_redirect_url] %>
  <p class="info-message"><%= raw(SystemPreferences.captive_portal_greeting) %></p>
<%- end %>

<%= form_for :user, :url => user_session_path, :html => { :class => "login", :style => @signup_error || params[:invitation_token] ? "display: none" : "" } do |f| -%>
  <fieldset>
    <%- if SystemPreferences.remote_ldap_sign_on %>
      <h3>Login with your ldap credentials</h3>
    <%- end %>
    
    <label>
      <%= f.text_field :login, :placeholder => "user name or email" %>
    </label>
    <label>
      <%= f.password_field :password, :value => nil, :placeholder => "password" %>
    </label>
    <label for="user_remember_me">
      <%= f.check_box :remember_me, :checked => incoming_interface != "published_to_web" %> <span class="hint">Keep logged in</span>
    </label>
    <div>
      <%= button "Login", :id => "login" %>
      <%- if allow_signup? %>
        or <a href="/users/sign_up" class="promotion-link" data-avoid-ajax="1">create an account</a>
      <%- end %>
      <p class="hint">
        Did you forget your password?
        <a href="<%= new_user_password_path %>" data-avoid-ajax="1">Reset it here</a>
      </p>
    </div>
  </fieldset>
<%- end %>