<h2 style="color: #487bff;"><%= t("passwords.headline_reset_greeting", :login => @user.login) %></h2>

<p><%= raw(t("passwords.mail_text_5", :name => Node.local.name)) %></p>

<p><%= link_to t("passwords.link_change"), edit_password_url(@user, :reset_password_token => @user.reset_password_token, :host => SystemPreferences.publish_to_web ? SystemPreferences.public_host : "protonet") %></p>

<p><%= t("passwords.mail_text_2") %></p>
<p><%= t("passwords.mail_text_3") %></p>
