<h2 style="color: #487bff;">Hey <%= @user.login %>!</h2>

<p>
  You requested to change your password on <%= Node.local.name %>.
  Please click the following link to create a new password for your account.
</p>

<%- if SystemPreferences.publish_to_web %>
  <p><%= link_to 'Change my password', edit_password_url(@user, :reset_password_token => @user.reset_password_token, :host => SystemPreferences.public_host) %></p>
<%- else %>
  <p><%= link_to 'Change my password', edit_password_url(@user, :reset_password_token => @user.reset_password_token, :host => @host) %></p>
  <p>Note: You can only reset your password if you can access <%= link_to root_url(:host => @host), root_url(:host => @host) %></p>
<%- end %>

<p>In case you didn't request to change your password please ignore this e-mail. No changes will be made until you follow the instructions above.</p>

<p>Have fun using the protonet.</p>
