<div id="navigation">
  <ul>
    <%= navigation_link('Home', root_path) %>
    <%= navigation_link("Preferences", preferences_path) %>
    <%= navigation_link("Files", system_files_path) %>
    <%= navigation_link("Users", users_path) %>
    <%= navigation_link("Networks", networks_path) %>
    <%= navigation_link("Channels", channels_path) %>
  </ul>
</div>