<section class="main">
  <%- message_hint = current_user.stranger? ? 'welcome stranger! talk to us...' : "go ahead @#{current_user.display_name}, I'm all yours..." %>
  <%= form_for :tweet, :url => tweets_path, :html => { :id => "message-form" } do |f| -%>
    <%= f.hidden_field(:channel_id, :name => "tweet[channel_id]", :autocomplete => "off") %>
    <%= f.hidden_field(:socket_id) %>
    <%= f.hidden_field(:avatar, :value => current_user.avatar.url) %>
    <%= f.hidden_field(:author, :value => current_user.display_name) %>
    <%= f.hidden_field(:text_extension, :id => 'text-extension-input', :value => "", :autocomplete => "off") %>
    <div id="textarea-wrapper">
      <div id="textarea-wrapper-inner">
        <menu>
          <li data-extension="smiley" title="Insert emoticon">Insert emoticon</li>
          <li data-extension="snapshot" title="Attach snapshot">Attach snapshot</li>
          <%- if SystemPreferences.show_file_widget -%>
            <!-- TODO: -->
            <!-- <li data-extension="file" title="Attach file(s)">Attach file(s)</li> -->
          <%- end -%>
        </menu>
        <%= f.text_area(:message, :id => 'message', :placeholder => message_hint) %>
        <input type="submit" id="submit-message" value="" title="Send message [ENTER]">
      </div>
      <output id="text-extension-preview">
        <a href="#" title="Delete attachment [ESC]" class="hint remove">remove <strong>x</strong></a>
      </output>
    </div>
    <a href="/users/<%= current_user.id %>" class="avatar" target="_blank">
      <%= avatar(current_user, :width => 36, :height => 36, :title => "That's you!") %>
    </a>
  <%- end -%>

  <nav id="channels">
    <ul>
      <%- @channels.each_with_index do |c, index| -%>
        <li>
          <%= link_to c.name.capitalize, { :channel_id => c.id }, {
            :title => c.description,
            :class => c.locally_hosted? ? (c.global? ? 'global-hosted' : 'local') : 'global',
            'data-channel-id' => c.id
          } %>
        </li>
      <%- end -%>
    </ul>
    <div id="manage-channels">
      <%= link_to "invite", new_invitation_path, "data-lightbox" => "true", "data-lightbox-title" => "Invite your awesome buddy!" if permitted_to?(:create, :invitations) %>
      <%= link_to "add/manage channels", "/channels" if permitted_to?(:create, :listens) or permitted_to?(:create, :channels) %>
    </div>
  </nav>
  <output id="timeline"></output>
  <div id="timeline-loading-indicator" class="meep-loading-indicator"></div>
</section>

<%- if SystemPreferences.show_search_widget || SystemPreferences.show_user_widget || SystemPreferences.show_file_widget -%>
  <aside id="side">
    <%- if SystemPreferences.show_search_widget -%>
      <%= render :partial => 'search/search_form' %>
    <%- end -%>
    <%- if SystemPreferences.show_user_widget -%>
      <%= render :partial => 'users/user_widget' %>
    <%- end -%>
    <%- if SystemPreferences.show_file_widget -%>
      <%= render :partial => 'system/files/file_widget' %>
    <%- end -%>
  </aside>
<%- end -%>

<script type="protonet/template" id="meep-template">
  <%= render :partial => 'meeps/meep' %>
</script>

<script type="protonet/template" id="meep-to-merge-template">
  <%= render :partial => 'meeps/meep_to_merge' %>
</script>

<script type="protonet/template" id="text-extension-template">
  <%= render :partial => 'meeps/text_extension' %>
</script>

<script type="protonet/template" id="channel-reply-template">
  <%= render :partial => 'meeps/channel_reply' %>
</script>

<script type="protonet/template" id="user-reply-template">
  <%= render :partial => 'meeps/user_reply' %>
</script>

<script type="protonet/template" id="emoji-template">
  <%= render :partial => 'meeps/emoji' %>
</script>

<script type="protonet/template" id="reply-from-channel-template">
  <%= render :partial => 'meeps/reply_from_channel' %>
</script>

<script type="protonet/template" id="posted-in-channel-template">
  <%= render :partial => 'meeps/posted_in_channel' %>
</script>

<script type="protonet/template" id="meep-status-template">
  <%= render :partial => 'meeps/meep_status' %>
</script>

<script type="protonet/template" id="meep-actions-template">
  <%= render :partial => 'meeps/meep_actions' %>
</script>