<div id="main-chat-widget" class="chat-widget"></div>

<div id="main-status-widget" class="status-widget">status will be displayed here</div>

<div id="main-sharing-widget" class="sharing-widget">
  
  Create a new list:
  <%= form :action => url(:controller => "asset_lists", :action => "create") do %>
    <%= text_field :name, :size => 22 %>
    <%= submit "create" %>
  <% end =%>
  
  <ul>
  <% AssetList.all.each do |a| %>
    <li><a href="<%= url(:controller => "asset_lists", :action => "show", :id => a.id) %>"><%= a.name %></a></li>
  <% end %>
  </ul>
  <br />
  Upload new files:
  <div id="upload-container">
    <%= form :action => url(:controller => "assets", :action => "create") do %>
        <%= file_field :name => "file", :size => 14 %>
        <%= submit "Upload" %>
    <% end =%>    
  </div>
  <%= js_include_tag('swfupload.js') %>
  <script type="text/javascript" charset="utf-8">//<![CDATA[
    $(document).ready(function() {
      new SWFUpload({
        upload_url : "<%= url(:controller => 'assets', :action => 'create') %>",
        flash_url : "/flash/swfupload.swf",
        file_size_limit : "100000 MB",
        post_params: { token: <%= @token %> },
        file_types : "*.*",
        file_post_name : "file",
        file_types_description : "All Files",
        file_upload_limit : 100,
        file_queue_limit : 0,
        debug: false,
        button_placeholder_id: "upload-container",
        button_width: "60",
        button_height: "20",
        button_text: '<span class="upload-button">Select...</span>',
        button_window_mode: 'transparent',
        button_text_style: ".upload-button { color: #ffffff; font-size: 14px; font-family: Arial,Helvetica,sans-serif; text-decoration: underline; }",
        button_cursor: SWFUpload.CURSOR.HAND,
        file_queued_handler : function(file) {
          this.fileIds = this.fileIds || [];
          this.fullSize = this.fullSize || 0;
          this.fullSize += file.size;
          this.ul = this.ul || $("#file-list");
          this.liElements = this.liElements || [];
          this.statusElements = this.statusElements || [];
          this.fileIds.push(file.id);
          this.liElements[file.id] = $(document.createElement("li"));
          this.liElements[file.id].html(file.name + "<span> (0 %)</span>");
          this.ul.append(this.liElements[file.id]);
          this.statusElements[file.id] = this.liElements[file.id].find("span");
        },
        file_dialog_complete_handler: function() {
          window.onbeforeunload = function() { return "Upload is still in progress. Are you sure?"; };
          this.backupTitle = document.title;
          this.loadedSize = this.loadedSize || 0;
          this.startUpload(this.fileIds.shift());
        },
        upload_progress_handler: function(file, bytesLoaded, bytesTotal) {
          var percent = Math.round(bytesLoaded/bytesTotal*100);
          var fullPercent = Math.round((this.loadedSize+bytesLoaded)/this.fullSize*100);
          this.statusElements[file.id].html(" (" + percent + " %)");
          document.title = this.backupTitle + " - Uploading " + fullPercent + " %";
        },
        upload_success_handler: function(file) {
          this.loadedSize += file.size;
          this.liElements[file.id].html('<a href="/uploads/' + file.name + '">' + file.name + '</a>');
          if (this.fileIds.length > 0) {
            this.startUpload(this.fileIds.shift());
          } else {
            window.onbeforeunload = null;
            document.title = this.backupTitle;
          }
        },
        upload_error_handler: function() {
          window.onbeforeunload = null;
        }
      });
    });
  //]]></script>
  <br />

  <ul id="file-list">
  <% Asset.unclaimed.unsorted.each do |a| %>
    <li><a href="<%= a.file_path %>"><%= a.filename %></a></li>
  <% end %>
  </ul>
  
  <br />
  
  <div class="clr"></div>
  
</div>

<!-- TESTING THE MESSAGING SOCKET -->

<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="1" height="1" align="middle">
     <param name="allowScriptAccess" value="sameDomain">
     <param name="movie" value="flash/socket.swf">
     <param name="quality" value="high">
     <param name="bgcolor" value="#FFFFFF">
    <embed id="flash_socket" src="flash/socket.swf" quality="high" bgcolor="#FFFFFF" width="1" height="1" name="flash_socket" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
</object>


<!-- END OF MESSAGING SOCKET TEST -->

<script type="text/javascript" charset="utf-8">
  var Dispatcher = new DispatchingSystem(document.getElementById('flash_socket'));
  var cw = new ChatWidget({'user_id': <%= current_user.id %>, 'user_config': {}, 'div_container': $('#main-chat-widget')});
  setTimeout(function() {Dispatcher.socket.connectSocket()}, 500);
</script>
