<section class="main">
  <%- message_hint = current_user.stranger? ? 'welcome stranger! talk to us...' : "go ahead @#{current_user.display_name}, I'm all yours..." %>
  <%- form_for :tweet, :url => tweets_path, :html => { :id => "message-form" } do |f| -%>
    <%= f.hidden_field(:channel_id, :name => "tweet[channel_id]", :autocomplete => "off") %>
    <%= f.hidden_field(:socket_id) %>
    <%= f.hidden_field(:avatar, :value => current_user.active_avatar_url) %>
    <%= f.hidden_field(:author, :value => current_user.display_name) %>
    <%= f.hidden_field(:text_extension, :id => 'text-extension-input', :value => "", :autocomplete => "off") %>
    <div id="textarea-wrapper">
      <%= f.text_area(:message, :id => 'message', :title => message_hint) %>
      <input type="submit" id="submit-message" value="" title="Send message [ENTER]">
      <output id="text-extension-preview">
        <a href="#" title="Delete attachment [ESC]" class="hint remove">remove <strong>x</strong></a>
      </output>
    </div>
    <div class="avatar">
      <img src="<%= current_user.active_avatar_url %>" width="36" height="36" title="That's you!">
    </div>
  <%- end -%>
  <div id="channels">
    <ul>
      <%- @channels.each_with_index do |c, index| -%>
        <li>
          <%= link_to c.name.capitalize, { :channel_id => c.id }, {
            :title => c.description,
            :class => c.locally_hosted? ? (c.global? ? 'global-hosted' : 'local') : 'global',
            'data-channel-id' => c.id
          } %>
        </li>
      <%- end -%>
    </ul>
    <div id="manage-channels">
      <%= link_to "invite", new_invitation_path, "data-lightbox" => "true", "data-lightbox-title" => "Invite your awesome buddy!" if permitted_to?(:create, :invitations) %>
      <%= link_to "add/manage channels", "/channels" if permitted_to?(:create, :listens) or permitted_to?(:create, :channels) %>      
    </div>
  </div>
  <output id="timeline"></output>
  <div id="timeline-loading-indicator" class="meep-loading-indicator"></div>
</section>

<aside id="side">
  <%= render :partial => 'search/search_form' %>
  <%= render :partial => 'users/user_widget' %>
  <%= render :partial => 'system/files/file_widget' %>
</aside>

<script type="protonet/template" id="meep-template">
  <%= render :partial => 'meeps/meep' %>
</script>

<script type="protonet/template" id="meep-to-merge-template">
  <%= render :partial => 'meeps/meep_to_merge' %>
</script>

<script type="protonet/template" id="text-extension-template">
  <%= render :partial => 'meeps/text_extension' %>
</script>

<script type="protonet/template" id="channel-reply-template">
  <%= render :partial => 'meeps/channel_reply' %>
</script>

<script type="protonet/template" id="user-reply-template">
  <%= render :partial => 'meeps/user_reply' %>
</script>

<script type="protonet/template" id="smilie-template">
  <%= render :partial => 'meeps/smilie' %>
</script>

<script type="protonet/template" id="reply-from-channel-template">
  <%= render :partial => 'meeps/reply_from_channel' %>
</script>

<script type="protonet/template" id="posted-in-channel-template">
  <%= render :partial => 'meeps/posted_in_channel' %>
</script>

<script type="protonet/template" id="meep-status-template">
  <%= render :partial => 'meeps/meep_status' %>
</script>