<section class="main-content">
  <%- message_hint = current_user.stranger? ? 'welcome stranger! talk to us...' : "go ahead @#{current_user.display_name}, I'm all yours..." %>
  <%= form_for :meep, :url => meeps_path, :html => { :id => "message-form" } do |f| -%>
    <%= f.hidden_field(:channel_id, :name => "meep[channel_id]", :autocomplete => "off") %>
    <%= f.hidden_field(:socket_id) %>
    <%= f.hidden_field(:avatar, :value => current_user.avatar.url) %>
    <%= f.hidden_field(:author, :value => current_user.display_name) %>
    <%= f.hidden_field(:text_extension, :id => 'text-extension-input', :value => "", :autocomplete => "off") %>
    <div id="textarea-wrapper">
      <div id="textarea-wrapper-inner">
        <menu>
          <li data-extension="smiley" title="Insert emoticon" data-hover-hint="right">Insert emoticon</li>
          <li data-extension="snapshot" title="Attach snapshot" data-hover-hint="right">Attach snapshot</li>
          <%- if SystemPreferences.show_file_widget -%>
            <!-- TODO: -->
            <!-- <li data-extension="file" title="Attach file(s)">Attach file(s)</li> -->
          <%- end -%>
        </menu>
        <%= f.text_area(:message, :id => 'message', :placeholder => message_hint) %>
        <input type="submit" id="submit-message" value="" title="Send message [ENTER]">
      </div>
      <output id="text-extension-preview">
        <a title="Delete attachment [ESC]" class="hint remove">remove <strong>&times;</strong></a>
      </output>
    </div>
  <%- end -%>

  <nav id="channels">
    <ul>
      <%- @channels.each do |channel| -%>
        <%= render :partial => 'channels/tab', :locals => { :channel => channel } %>
      <%- end -%>
    </ul>
    <%= link_to("+", channels_path, :class => 'manage-channels', :title => 'Add/manage channels', 'data-hover-hint' => 'top') if permitted_to?(:create, :listens) or permitted_to?(:create, :channels) %>
  </nav>
  <output id="timeline"></output>
  <div class="progress" id="timeline-loading"></div>
</section>

<%- if SystemPreferences.show_user_widget || SystemPreferences.show_file_widget -%>
  <aside class="side-content">
    <%- if current_user.newbie? %>
      <%= render(:partial => 'users/getting_started_admin') if current_user.first_admin? %>
      <%= render(:partial => 'users/getting_started_user') unless current_user.first_admin? %>
    <%- end %>
    <%- unless current_user.stranger? %>
      <%= render :partial => 'users/my_widget' %>
    <%- end %>
    <%- if SystemPreferences.show_user_widget -%>
      <%= render :partial => 'users/user_widget' %>
    <%- end -%>
    <%- if SystemPreferences.show_file_widget -%>
      <%= render :partial => 'system/files/file_widget' %>
    <%- end -%>
  </aside>
<%- end -%>
