<div id="main-chat-widget" class="chat-widget"></div>

<div id="main-status-widget" class="status-widget">status will be displayed here</div>

<div id="main-sharing-widget" class="sharing-widget">
  
  Create a new list:
  <%= form :action => url(:controller => "asset_lists", :action => "create") do %>
    <%= text_field :name, :size => 22 %>
    <%= submit "create" %>
  <% end =%>
  
  <ul>
  <% AssetList.all.each do |a| %>
    <li><a href="<%= url(:controller => "asset_lists", :action => "show", :id => a.id) %>"><%= a.name %></a></li>
  <% end %>
  </ul>
  <br />
  ... and upload a new file:
  <%= form :action => url(:controller => "assets", :action => "create") do %>
    <%= file_field :name => "file", :size => 14 %>
    <%= submit "Upload" %>
  <% end =%>

  <br />
  
  <ul>
  <% Asset.all.each do |a| %>
    <li><a href="<%= a.file_path %>"><%= a.filename %></a></li>
  <% end %>
  </ul>
  
  <br />
  
  <div class="clr"></div>
  
</div>

  <%= @token %>

<!-- TESTING THE MESSAGING SOCKET -->

<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="100" height="100" id="foo" align="middle">
<param name="allowScriptAccess" value="sameDomain">
<param name="movie" value="/flash/foo.swf">
<param name="quality" value="high">
<param name="bgcolor" value="#FFFFFF">
<embed src="/flash/foo.swf" quality="high" bgcolor="#000" width="1" height="1" name="foo" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
</object>

<!-- END OF MESSAGING SOCKET TEST -->

<script type="text/javascript" charset="utf-8">
  cw = new ChatWidget({'user_id': <%= current_user.id %>, 'user_config': {}, 'div_container': $('#main-chat-widget')});
</script>
