<section class="main-content instruments-page">
  <%- message_hint = current_user.stranger? ? t("instruments.placeholder_message_guest") : t("instruments.placeholder_message", :display_name => current_user.display_name) %>
  <%= form_for :meep, :url => meeps_path, :html => { :id => "message-form" } do |f| -%>
    <%= f.hidden_field(:channel_id, :name => "meep[channel_id]", :autocomplete => "off") %>
    <%= f.hidden_field(:socket_id) %>
    <%= f.hidden_field(:avatar, :value => current_user.avatar.url) %>
    <%= f.hidden_field(:author, :value => current_user.display_name) %>
    <%= f.hidden_field(:text_extension, :id => 'text-extension-input', :value => "", :autocomplete => "off") %>
    <div id="textarea-wrapper">
      <div id="textarea-wrapper-inner">
        <menu>
          <li data-extension="smiley" title="<%= t("instruments.hint_insert_emoticon") %>" data-hover-hint="right"><%= t("instruments.hint_insert_emoticon") %></li>
          <%- if permitted_to?(:index, :snapshots) %>
            <li data-extension="snapshot" title="<%= t("instruments.hint_attach_snapshot") %>" data-hover-hint="right"><%= t("instruments.hint_attach_snapshot") %></li>
          <%- else -%>
            <li data-extension="snapshot" title="<%= t("instruments.hint_attach_snapshot_guest") %>" data-hover-hint="right" class="disabled"><%= t("instruments.hint_attach_snapshot_guest") %></li>
          <%- end %>
          
          <%- if permitted_to?(:read, :files) %>
            <li data-extension="file" title="<%= t("instruments.hint_attach_files") %>" id="attach-file-extension" data-hover-hint="right"><%= t("instruments.hint_attach_files") %></li>
          <%- else -%>
            <li data-extension="file" title="<%= t("instruments.hint_attach_files_guest") %>" id="attach-file-extension" data-hover-hint="right" class="disabled"><%= t("instruments.hint_attach_files_guest") %></li>
          <%- end %>
        </menu>
        <%= f.text_area(:message, :id => 'message', :placeholder => message_hint) %>
        <input type="submit" id="submit-message" value="" title="<%= t("instruments.label_send_message") %>">
      </div>
      <output id="text-extension-preview">
        <a title="<%= t("instruments.hint_delete_attachment") %>" class="hint remove"><%= t("link_remove") %> <strong>&times;</strong></a>
      </output>
    </div>
  <%- end -%>

  <nav id="channels">
    <ul>
      <%- @subscribed_channels.each do |channel| -%>
        <%= render :partial => 'channels/tab', :locals => { :channel => channel } %>
      <%- end -%>
    </ul>
    <%= link_to("+", channels_path, :class => 'manage-channels', :title => t("instruments.hint_manage_channels"), 'data-hover-hint' => 'top') if permitted_to?(:create, :listens) or permitted_to?(:create, :channels) %>
  </nav>
  <output id="timeline"></output>
  <div class="progress" id="timeline-loading"></div>
</section><!-- no white space here --><aside class="side-content">
  <%- unless current_user.stranger? %>
    <%= render :partial => 'users/my_widget' %>
  <%- end %>
  <%- if current_user.newbie? %>
    <%= render(:partial => 'users/getting_started_admin') if current_user.first_admin? %>
    <%= render(:partial => 'users/getting_started_user') unless current_user.first_admin? %>
  <%- end %>
  <%= render :partial => 'users/user_widget' %>
  <%= render :partial => 'files/file_widget' %>
</aside>
