<div class="main">
  <%- form_for :tweet, :url => tweets_path, :html => { :id => "message-form" } do |f| -%>
    <div id="text-input">
      <fieldset>
        <% message_hint = current_user.stranger? ? 'welcome stranger! talk to us...' : "go ahead @#{current_user.display_name} I'm all yours..."%>
        <%= f.text_area(:message, :id => 'message', :title => message_hint) %>
        <%= f.hidden_field('channel_id', :id => "message_channel_id", :name => 'message_channel_id',
                                         :value => @active_channel.id, :autocomplete => 'off') %>
        <%= f.hidden_field(:socket_id) %>
        <%= f.hidden_field(:text_extension, :id => 'text-extension-input', :value => '', :autocomplete => 'off') %>
      </fieldset>
      <button type="submit" name="commit">
        <span>
          <em>submit</em>
        </span>
      </button>
    </div>
    <div id="text-extension-preview">
      <a href="#" title="Remove" class="remove">x</a>
    </div>
  <%- end -%>
  
  <div id="channel">
    <ul>
      <% @channels.each_with_index do |c, index| %>
        <li id="channel-<%= c.id %>" class="channel <%= 'active' if c == @active_channel %>">
          <%= link_to c.name.capitalize, {:channel_id => c.id, :index => index}, {:title => c.description} %>
        </li>
      <% end %>
      <li class="browse">
        <a href="/channels" title="browse more channels"><%= Channel.count - @channels.count %> channels, check them out!</a>
      </li>
    </ul>
  </div>
  
  <div id="feed-viewer">
    <div id="feed-holder" style="width:<%= @channels.size * 613 %>px; left: <%= @channels.index(@active_channel) * -613 %>px;">
      <% @channels.each do |c| %>
        <%= render :partial => '/tweets/tweet_list', :locals => {:tweets => c.tweets.recent.all(:limit => 25), :channel => c} %>
      <% end %>
    </div>
  </div>
</div>

<div class="side">
  <div id="navigation-link">
    <a href="#">SHOW NAVIGATION <span class="shortcut"></span></a>
  </div>
  
  <%- if current_user.stranger? && configatron.ldap.single_authentication != true -%>
    <% form_for :user, :url => users_path, :html => {:id => "registration-form"} do |f| -%>
      <fieldset>
        <legend>
          <strong>JOIN the (r)evolution</strong>
          <span>no email, no credit card, just pure awesomeness!</span>
        </legend>
        <ul>
          <li>
            <%= label_tag "login" %>
            <%= f.text_field "login", {:id => 'new-user-login', :title => 'user name'} %>
          </li>
          <li>
            <%= label_tag "password" %>
            <%= f.password_field "password", {:id => 'new-user-password'} %>
            <%= f.hidden_field "password_confirmation", {:id => 'new-user-password-confirmation'} %>
          </li>
        </ul>
      </fieldset>
      <button type="submit" name="join">
        <span>
          <em>Join</em>
        </span>
      </button>
    <%- end -%>
  <%- end -%>
  <%= render :partial => 'users/user_list', :locals => {:users => []} %>
  
  <%= render :partial => 'system/files/file_list', :locals => {:file_system => System::FileSystem.all("/" + @active_channel.id.to_s), :channel_id => @active_channel.id} %>
</div>


<%# Templates for JavaScript %>
<div id="templates">
  <div id="message-template">
    <%= render :partial => 'tweets/tweet', :locals => {:message => '', :avatar => '/images/userpicture.jpg',
                                                       :author => '', :created_at => '',
                                                       :html_id => 'tweet-{id}-{id}'} %>
  </div>
  
  <div id="text-extension-template">
    <%= render :partial => 'tweets/text_extension' %>
  </div>
</div>