<div class="main">
  <%- form_for :tweet, :url => tweets_path, :html => { :id => "message-form" } do |f| -%>
    <fieldset>
      <%= f.label(:message, "enter your message") %>
      <%= f.text_area(:message, :id => "message", :title => "enter your message ...") %>
      <%= f.hidden_field('channel_id', :id => "message_channel_id", :name => 'message_audience_id', :value => @active_channel.id) %>
      <%= f.hidden_field(:socket_id) %>
    </fieldset>
    <button type="submit" name="commit">
      <span>
        <em>submit</em>
      </span>
    </button>
  <%- end -%>
  
  <div id="channel">
    <ul>
      <% @channels.each_with_index do |c, index| %>
        <li id="channel-<%= c.id %>" class="channel <%= 'active' if c == @active_channel %>">
          <%= link_to c.name.capitalize, {:channel_id => c.id, :index => index}, {:title => c.description} %>
        </li>
      <% end %>
      <li class="add">
        <a href="#" title="">new room</a>
      </li>
    </ul>
  </div>
  
  <div id="feed-viewer">
    <div id="feed-holder" style="width:<%= @channels.size * 610 %>px; left: <%= @channels.index(@active_channel) * -604 %>px;">
      <% @channels.each do |c| %>
        <%= render :partial => '/tweets/tweet_list', :locals => {:tweets => c.tweets.recent, :channel => c} %>
      <% end %>
    </div>
  </div>
</div>

<div class="side">
  <%- if current_user.stranger? -%>
    <% form_for :user, :url => users_path, :html => {:id => "registration-form"} do |f| -%>
      <fieldset>
        <legend>
          <strong>JOIN the (r)evolution</strong>
          <span>no email, no credit card, just pure awesomeness!</span>
        </legend>
        <ul>
          <li>
            <%= label_tag "login" %>
            <%= f.text_field "login", {:id => 'new-user-login', :title => 'user name'} %>
          </li>
          <li>
            <%= label_tag "password" %>
            <%= f.password_field "password", {:id => 'new-user-password', :title => 'password'} %>
            <%= f.hidden_field "password_confirmation", {:id => 'new-user-password-confirmation'} %>
          </li>
        </ul>
      </fieldset>
      <button type="submit" name="join">
        <span>
          <em>Join</em>
        </span>
      </button>
    <%- end -%>
  <%- end -%>
  
  <%= render :partial => 'system/files/file_list', :locals => {:file_system => System::FileSystem.all} %>
  
  <!-- <div id="user-list">
    <ul>
      <li>
        <img src="/images/userpicture.jpg" width="21" height="21" alt="">
        <span>Kathy <span class="status">(online)</span></span>
      </li>
      <li>
        <img src="/images/userpicture.jpg" width="21" height="21" alt="">
        <span>Kathy <span class="status">(online)</span></span>
      </li>
      <li>
        <img src="/images/userpicture.jpg" width="21" height="21" alt="">
        <span>Kathy <span class="status">(online)</span></span>
      </li>
    </ul>
    <a id="expand-user-list" href="#" title="show more">
      <span>show more</span>
    </a>
  </div> -->
</div>