<div id="search-box" style="margin: 10px">
  <% form_tag search_path, :method => 'post' do -%>
    <%= select_tag :channel_id, options_for_select([['All', 0]] + @channels.map{|c| [c.name, c.id]}) %>
    <%= text_field_tag :search_term, @search_term, :size => '30' %>
    <%= submit_tag 'search' %>
  <% end -%>
</div>
<div class="main">

  <%- form_for :tweet, :url => tweets_path, :html => { :id => "message-form" } do |f| -%>
    <div id="text-input">

      <fieldset>
        <% message_hint = current_user.stranger? ? 'welcome stranger! talk to us...' : "go ahead @#{current_user.display_name} I'm all yours..."%>
        <%= f.text_area(:message, :id => 'message', :title => message_hint) %>
        <%= f.hidden_field('channel_id',  :id => "message_channel_id", :name => 'message_channel_id',
                                          :value => @active_channel.id, :autocomplete => 'off') %>
       <%= f.hidden_field('channel_uuid', :id => "message_channel_uuid", :name => 'message_channel_uuid',
                                          :value => @active_channel.uuid, :autocomplete => 'off') %>
        <%= f.hidden_field(:socket_id) %>
        <%= f.hidden_field(:text_extension, :id => 'text-extension-input', :value => '', :autocomplete => 'off') %>
      </fieldset>
      <button type="submit" name="commit">
        <span>
          <em>submit</em>
        </span>
      </button>
    </div>
    <div id="text-extension-preview">
      <a href="#" title="Remove (ESC)" class="remove">x</a>
    </div>
  <%- end -%>

  <%= render :partial => 'channels/channel_selector', :locals => {:channels => @channels, :active_channel => @active_channel} %>

  <div id="feed-viewer">
    <div id="feed-holder" style="width:<%= @channels.size * 613 %>px; left: <%= @channels.index(@active_channel) * -613 %>px;">
      <% @channels.each do |c| %>
        <%= render :partial => '/tweets/tweet_list', :locals => {:tweets => c.tweets.recent.all(:limit => 25, :include => [:avatar]), :channel => c} %>
      <% end %>
    </div>
  </div>
</div>

<div class="side">
  <div id="navigation-link">
    <a href="#">SHOW NAVIGATION <span class="shortcut"></span></a>
  </div>
  <%= render :partial => 'sessions/registration_box' %>
  <%= render :partial => 'users/user_list', :locals => {:users => []} %>
  <%= render :partial => 'system/files/file_list', :locals => {:file_system => System::FileSystem.all("/" + @active_channel.id.to_s), :channel_id => @active_channel.id} %>
</div>


<%# Templates for JavaScript %>
<div id="templates">
  <div id="message-template">
    <%= render :partial => 'tweets/tweet', :locals => {:message => '', :avatar => '/images/userpicture.jpg',
                                                       :author => '', :created_at => '',
                                                       :html_id => 'tweet-{id}-{id}'} %>
  </div>

  <div id="text-extension-template">
    <%= render :partial => 'tweets/text_extension' %>
  </div>
</div>