<%- form_for :tweet, :url => tweets_path, :html => { :id => "message-form" } do |f| -%>
  <fieldset>
    <%#= f.hidden_field :user_id, "1" %>
    <%= f.label(:message, "enter your message") %>
    <%= f.text_area(:message, :id => "message", :title => "enter your message") %>
  </fieldset>
  <button type="submit" name="commit">
    <span>
      <em>submit</em>
    </span>
  </button>
<%- end -%>

<ul id="user-messages">
  <% @tweets.each do |t| %>
    <li>
      <span class="message-usericon">
        <img src="/img/userpicture.jpg" width="47" height="47" alt="">
      </span>
      <p>
        <span class="message-info">
          <span class="message-author"><%= t.author %></span>
          <span class="message-date">(<%= t.created_at %>)</span>
        </span>
        <%= h t.message %>
      </p>
    </li>
  <% end %>
</ul>

<div id="user-list">
  <ul>
    <li>
      <img src="/img/userpicture.jpg" width="21" height="21" alt="">
      <span>Kathy <span class="status">(online)</span></span>
    </li>
    <li>
      <img src="/img/userpicture.jpg" width="21" height="21" alt="">
      <span>Kathy <span class="status">(online)</span></span>
    </li>
    <li>
      <img src="/img/userpicture.jpg" width="21" height="21" alt="">
      <span>Kathy <span class="status">(online)</span></span>
    </li>
  </ul>
  <a id="expand-user-list" href="#" title="show more">
    <span>show more</span>
  </a>
</div>
