<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

  <head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta name="robots" content="noindex, nofollow" />
    <%= stylesheet_link_tag("common", :cache => true) %>
    <title><%= strip_tags(yield :page_title) %></title>
  </head>

  <body>
    <div class="header">
      <img src="/img/protonet_logo.png" width="147" height="28" alt="protonet" />
    </div>
    <%- form_tag session_path, { :id => "login-form" } do -%>
      <fieldset>
        <ul>
          <li>
            <%= label_tag "login" %>
            <%= text_field_tag "login", @login %>
          </li>
          <li>
            <%= label_tag "password" %>
            <%= password_field_tag "password", nil %>
          </li>
        </ul>
      </fieldset>
      <button type="submit" name="commit">
        <span>
          <em>login</em>
        </span>
      </button>
    <%- end -%>
    <%= "<p class=\"notice message\"><span>#{flash[:notice]}</span></p>" if flash[:notice] %>
    <%= "<p class=\"error message\"><span>#{flash[:error]}</span></p>" if flash[:error] %>
    <%= "<p class=\"warning message\"><span>#{flash[:warning]}</span></p>" if flash[:warning] %>
    <%= yield %>
    <script type="text/javascript" charset="utf-8">
      config = {};
      config.dispatching_server = '<%= configatron.dispatching_server %>';
      config.token = '<%= current_user.try(:login) || logged_out_user.name %>';
      config.user_id = '<%= current_user.try(:id) || logged_out_user.id%>';
      <%# add user agent %>
      config.user_agent = null;
    </script>
    <%= javascript_include_tag 'lib/jquery-1.3.2.js', :cache => true %>
    <%= javascript_include_tag 'console/console.js', :cache => true %>
    
    <%= javascript_include_tag '' %>
    
    <%= javascript_include_tag 'dispatching.js', :cache => true %>    
    <!-- order is important, the socket needs the dispatching.js to be loaded previously -->
    <!-- MESSAGING SOCKET -->
    <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="1" height="1" align="middle">
         <param name="allowScriptAccess" value="sameDomain">
         <param name="movie" value="flash/socket.swf">
         <param name="quality" value="high">
         <param name="bgcolor" value="#FFFFFF">
        <embed id="flash_socket" src="/flash/socket.swf" quality="high" bgcolor="#FFFFFF" width="1" height="1" name="flash_socket" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer">
    </object>
    <!-- END OF MESSAGING SOCKET -->
    <%= javascript_include_tag "sections/#{controller_name}.js", :cache => true %>
    
  </body>
  
</html>