<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

  <head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta name="robots" content="noindex, nofollow" />
    <%= stylesheet_link_tag("common", :cache => false) %>
    <title><%= strip_tags(yield(:page_title)) %></title>
  </head>

  <body>
    <div class="header">
      <img src="/img/protonet_logo.png" width="147" height="28" alt="protonet" />
      <div id="js-status">
        
      </div>
    </div>
    <%- form_tag session_path, { :id => "login-form" } do -%>
      <fieldset>
        <ul>
          <li>
            <%= label_tag "login" %>
            <%= text_field_tag "login", @login %>
          </li>
          <li>
            <%= label_tag "password" %>
            <%= password_field_tag "password", nil %>
          </li>
        </ul>
      </fieldset>
      <button type="submit" name="commit">
        <span>
          <em>login</em>
        </span>
      </button>
    <%- end -%>
    <%= "<p class=\"notice message\"><span>#{flash[:notice]}</span></p>" if flash[:notice] %>
    <%= "<p class=\"error message\"><span>#{flash[:error]}</span></p>" if flash[:error] %>
    <%= "<p class=\"warning message\"><span>#{flash[:warning]}</span></p>" if flash[:warning] %>
    <%= yield %>
    
    <script type="text/javascript" charset="utf-8">
      config = {};
      config.dispatching_server = '<%= configatron.dispatching_server %>';
      config.token = '<%= current_user.communication_token %>';
      config.user_name = '<%= current_user.display_name %>';
      config.user_id = '<%= current_user.id %>';
      config.user_audience_ids = <%= current_user.audiences && current_user.audiences.map {|a| a.id}.to_json %>;
      <%# add user agent %>
      config.user_agent = null;
    </script>
    
    <%= sprockets_include_tag(:default) %>    
    <%= sprockets_include_tag(controller_name.to_sym) %>
    
  </body>
  
</html>