<!DOCTYPE html>
<html>
  <%= render :partial => 'shared/layout_head' %>
  <body>
    <%= render :partial => 'shared/layout_basic_body' %>
    <%- if SystemPreferences.show_clouds -%>
      <div id="cloud-container"><!-- container for fluffy clouds (call it "the sky") --></div>
    <%- end -%>
    <div class="inner-body">
    
      <%- if current_user.stranger? -%>
        <%= render :partial => 'devise/shared/registration_box' %>
      <%- end -%>

      <header<%= raw(" class=\"login\"") if current_user.stranger? %>>
        <a href="<%= root_path %>" class="logo">protonet – it's yours</a>
        <a href="<%= root_path %>" class="monster default">change character</a>
        <%- if SystemPreferences.show_user_navigation -%>
          <%= render :partial => 'shared/user_navigation.html.erb' %>
        <%- end -%>
      </header>
    
      <%= yield %>
    
      <%= render :partial => 'shared/layout_footer' %>
    </div>
  </body>
</html>