<!DOCTYPE html>
<html>
  <%= render :partial => 'shared/layout_head' %>
  <body>
    <%= render :partial => 'shared/layout_basic_body' %>
    <div class="inner-body">
      
      <%- if current_user.stranger? -%>
        <%= render :partial => 'devise/shared/registration_box' %>
      <%- end -%>
      
      <%= render :partial => 'shared/header' %>
      
      <section class="<%= page_class_names %>">
        <%= yield %>
      </section>
      
      <%= render :partial => 'shared/layout_footer' %>
    </div>
  </body>
</html>