<!DOCTYPE html>
<html<%= raw(' class="logged-out"') if !current_user || current_user.stranger? %>>
  <%= render :partial => 'shared/layout_head' %>
  <body>
    <%= render :partial => 'shared/layout_basic_body' %>
    <div class="inner-body">
      
      <%- if current_user.stranger? -%>
        <div class="welcome">
          <img src="/img/protonet_node_front_view.png" height="249" width="360" alt="<%= t("instruments.hint_protonet_node") %>">
          <h1><%= raw(t("instruments.title_welcome", :name => Node.local.name)) %></h1>
          <%= render :partial => 'devise/shared/registration_box' %>
          <a href="http://protonet.info" target="_blank" class="copyright-link" title="<%= t("instruments.hint_protonet_link") %>"><%= t("instruments.copyright") %></a>
        </div>
      <%- end -%>
      
      <%= render :partial => 'shared/header' %>
      
      <%= yield %>
      
      <%= render :partial => 'shared/layout_footer' %>
    </div>
  </body>
</html>