!!! XML
!!! Strict
%html
  %head
    %title
      = strip_tags(yield :page_title)
      protonet Dashboard
    %meta{ "http-equiv" => "Content-Type", :content => "text/html", :charset => "utf-8" }
    = stylesheet_link_tag :all, :cache => true
    = javascript_include_tag :all, :cache => true
  %body
  #header
    %img{:src => "/images/logo_transparent_small.gif", :width => "102", :height => "20", :alt => "logo"}
    %h3 
      yay! welcome 
      = current_user.login if current_user
    .navigation
      = link_to "home", "url(:home)"
      |
      = link_to "profile", "url(:profile, :id => current_user.id)"
      |
      = link_to "foo", "url(:logout)"
      |
      = link_to "logout", "url(:logout)"
    
  #content
    = yield