<!DOCTYPE html>
<html>
  <%= render :partial => 'shared/layout_head' %>
  <body>
    <%= render :partial => 'shared/layout_basic_body' %>
    
    <section class="<%= page_class_names %>">
      <%= yield %>
    </section>
    
    <%= render :partial => 'shared/layout_footer' %>
  </body>
</html>